[2015-11-30 08:51] josefspr opened #1 "zoom on map using rectangle"
can we implement a zoom tool on map by drawing a rectangle ?

[2015-11-30 09:43] yuvadm commented on #1
Yep we can do that https://www.mapbox.com/mapbox-gl-js/api/#Map.fitBounds

[2015-12-28 13:34] mushon opened #2 "Design map markers and map clusters"

[2015-12-28 13:44] mushon opened #3 "Try adding the repo to Huboard.com (couldn't do it myself)"
https://huboard.com/daat-hamakom/maps/board/create

[2015-12-28 14:07] mushon opened #4 "Design timeline + gant + markers + clusters"

[2016-01-03 20:05] yuvadm opened #5 "Implement initial timeline"

[2016-01-03 20:05] yuvadm commented on #5
Reference D3 implementation: https://github.com/jiahuang/d3-timeline/blob/master/src/d3-timeline.js

[2016-01-03 20:21] yuvadm commented on #5
Another good one: https://github.com/emeeks/d3.layout.timeline/blob/master/src/timeline.js

[2016-01-03 20:24] yuvadm commented on #5
![styletiles 2](https://cloud.githubusercontent.com/assets/315080/12080616/b8a9a7f8-b268-11e5-9f0a-46eb7e9e4993.png)
![styletiles 3](https://cloud.githubusercontent.com/assets/315080/12080617/b8acabba-b268-11e5-9e4f-2a20d396ab54.png)

[2016-01-03 20:52] josefspr commented on #5
thnx, can we see it actually working on a site ?

Date: Sun, 3 Jan 2016 12:24:33 -0800
From: notifications@github.com
To: maps@noreply.github.com
Subject: Re: [maps] Implement initial timeline (#5)

—
Reply to this email directly or view it on GitHub.

[2016-01-03 21:07] yuvadm commented on #5
No, this isn't implemented yet

[2016-01-05 10:20] yuvadm commented on #5
@mushon Can we get some color specs for the style tiles?

[2016-01-05 11:08] mushon commented on #5
Since colors will be dynamic anyway I suggest you implement with (50 >) shades of gray and we will later play with the colors via CSS (SCSS? SASS?)

[2016-01-05 11:09] yuvadm commented on #5
Of course, just thought I can get the original ones so I can get a better feel of how I'm making progress.

[2016-01-10 09:38] amitay7 commented on #2
![01](https://cloud.githubusercontent.com/assets/16412974/12220934/92fb0184-b78e-11e5-9156-ac24f6cafef5.png)

[2016-01-10 09:38] #2 closed

[2016-01-10 09:39] amitay7 opened #6 "map skin: Pre industrial times"

[2016-01-10 09:39] amitay7 opened #7 "map skin: Industrial"

[2016-01-10 09:39] amitay7 opened #8 "map skin: Modernist"

[2016-01-10 09:40] amitay7 opened #9 "map skin: Dark times"
tagged styling ("dark times")

[2016-01-10 09:40] amitay7 opened #10 "map skin: Post War"

[2016-01-10 09:40] amitay7 opened #11 "map skin: 21st Century"

[2016-01-10 09:44] amitay7 opened #12 "Grouped events with equal metadata: on card"

[2016-01-10 09:45] amitay7 commented on #9
tagged styling ("dark times")

[2016-01-10 09:47] amitay7 opened #13 "Comparison view - different timelines (colours)"

[2016-01-10 09:48] amitay7 opened #14 "Differentiate true timespans from low-res timestamps"

[2016-01-10 09:49] amitay7 opened #15 "define intro tour"
do a bit later down the road

[2016-01-10 09:51] amitay7 opened #16 "sidebar list view cluster (count, cluster..)"

[2016-01-10 09:56] amitay7 opened #17 "Undeclusterable label shows count and location"
design hierarchy of side bar list of events, and show the cluster under location subtitle such as: "35 events in Tel Aviv"

[2016-01-10 09:56] amitay7 commented on #17
**location**

[2016-01-10 09:58] amitay7 opened #18 "undeclusterable opens side list"

[2016-01-12 13:31] yuvadm commented on #5
Proper D3/react separation:

https://github.com/freddyrangel/playing-with-react-and-d3

http://qumulo.com/blog/front-end-engineering-at-qumulo-react-d3-js/

[2016-01-18 10:06] yuvadm opened #19 "Enable zoom and pan on timeline"
The timeline component should be zoomable and scrollable, an example can be seen at http://bl.ocks.org/mbostock/4015254

Note that using D3 zoom behavior is not possible since we are only using React component behavior for dynamic events. The wheel and mouse events should be captured by React which should then update the relevant D3 action.

Additionally, the axis tick marks should be properly div

[2016-01-18 10:15] yuvadm opened #20 "Connect timeline to events API"
We have a working RESTful API for providing the events data at https://daat-hamakom-data.herokuapp.com/api/events/

A sample action call already happens on application start at https://github.com/daat-hamakom/maps/blob/4877acfc120189b1f1b26f2a4c5e1a1eaf8b4eb9/index.js#L32 which updates the application state

This call should be made from a proper `componentDidMount()` method in the relevant compon

[2016-01-18 10:23] yuvadm commented on #19
@denova Please do the work on a separate branch and open a pull request when ready for code review. No commits to master, please :)

[2016-01-18 10:53] yuvadm commented on #5
All the scaffolding is in place. Closing this issue and follow further progress on #19 and #20

[2016-01-18 10:53] #5 closed

[2016-01-18 10:53] yuvadm commented on #3
@mushon still relevant?

[2016-01-18 18:34] amitay7 commented on #9
https://api.mapbox.com/styles/v1/amitay7/ciieev3bv003d9xkj4cfvd9rd.html?title=true&access_token=pk.eyJ1IjoiYW1pdGF5NyIsImEiOiJjaWllYjh1cGwwMDFidnNrdXM1MDI0N2Y5In0.lX2c7kIOBc85UFbyVmcMyA#2.4909622394421564/33.327408176772096/-0.026507189003552867/0
![image](https://cloud.githubusercontent.com/assets/16412974/12399797/bcf0d8c8-be24-11e5-8450-d98f12b9d99e.png)

[2016-01-18 23:54] mushon commented on #3
Yes please, would you give it a try?

[2016-01-18 23:55] mushon commented on #9
can’t see it. :/
would you publish + share a link?
- post a screenshot?

Thanks!

[2016-01-19 08:30] yuvadm commented on #3
Done, looks nice :)

[2016-01-19 16:58] amitay7 commented on #9
Did both when I updated yesterday. Still can't see it?

[2016-01-19 17:54] mushon commented on #9
Try sending the share link again

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2016-01-19 21:20] amitay7 commented on #9
https://api.mapbox.com/styles/v1/amitay7/ciieev3bv003d9xkj4cfvd9rd.html?title=true&access_token=pk.eyJ1IjoiYW1pdGF5NyIsImEiOiJjaWllYjh1cGwwMDFidnNrdXM1MDI0N2Y5In0.lX2c7kIOBc85UFbyVmcMyA#6.822799466302727/9.555310209588527/7.095509350498446/0

[2016-01-20 18:29] amitay7 commented on #14
![image](https://cloud.githubusercontent.com/assets/16412974/12458856/7e5a2a24-bfb4-11e5-8e3f-5b1b7124706b.png)

[2016-01-20 18:47] amitay7 commented on #18
suggested designs
![image](https://cloud.githubusercontent.com/assets/16412974/12459322/d1cdfd32-bfb6-11e5-8457-b2cf4caa29d5.png)

![image](https://cloud.githubusercontent.com/assets/16412974/12459333/e0faa756-bfb6-11e5-9781-a897f8da5124.png)

[2016-01-20 18:47] amitay7 commented on #17
![image](https://cloud.githubusercontent.com/assets/16412974/12459351/0483df44-bfb7-11e5-9e84-6f80c5cd7444.png)

[2016-01-22 12:47] mushon commented on #18
Cool.
I think option2 works better than option1, as we don't use that diagonal line anywhere else.
- [ ] Please try to check a darker color for the metadata (research name + year) and for the tags. Right now it looks slightly too pale.
- [ ] Please add the time-frame to the title of the list.
- [ ] we need a hover state for the list
- [ ] does the panel open on hover or on click?

[2016-01-22 12:50] #3 closed

[2016-01-22 12:58] mushon opened #21 "NPM Install fails"
Error:

``ERROR in ./~/css-loader!./~/sass-loader?includePaths[]=/Users/mushon/sites/daat-maps/maps/~/node-bourbon/~/bourbon/app/assets/stylesheets!./src/styles/app.scss
Module build failed: ReferenceError: Promise is not defined
    at LazyResult.async (/Users/mushon/sites/daat-maps/maps/node_modules/css-loader/node_modules/postcss/lib/lazy-result.js:157:31)
    at LazyResult.then (/Users/mushon/

[2016-01-22 16:36] yuvadm commented on #21
Which node/NPM versions do you have? Upgrade so something new-ish and you'll be fine.

[2016-01-22 19:36] mushon commented on #21
npm@1.4.3

[2016-01-22 21:44] yuvadm commented on #21
Yeah, ante up :)

[2016-01-23 07:27] mushon commented on #21
Ante up?

[2016-01-23 10:14] yuvadm commented on #21
Install a modern NPM version

[2016-01-24 10:23] #21 closed

[2016-01-24 16:32] yuvadm commented on #18
@mushon heads up that there are some limitations on which elements we can use as markers on the map

https://github.com/mapbox/mapbox-gl-js/issues/358

[2016-01-24 16:35] yuvadm opened #22 "Unsupported browser alert"
We need a design for how the screen appears on unsopported environments:
 - small screens
 - too low resolutions
 - browsers with JS script blockers

[2016-01-25 12:27] yuvadm commented on #20
bf8064a69b32cb8445fba70b83bddef6c222ca8c has implemented the basic REST connection stuff

[2016-01-25 12:29] yuvadm commented on #19
From Skype conversation:

[2016-01-25 21:59] yuvadm commented on #19
Work in progress on branch `zoom`

[2016-01-26 10:58] yuvadm commented on #19
https://projects.invisionapp.com/share/AD5QTO7WY#/screens/126684728

[2016-01-26 13:00] yuvadm commented on #19
`zoom` branched merged and pushed to heroku. Still some rough edges, but zoom and scroll behavior is implemented

+@mushon

[2016-01-26 13:12] mushon commented on #19
Cool. This is helpful.
- [ ] I’m assuming the data on the timeline is a mockup though, right? It would be great to see it pulled from the DB and following the design
- [ ] Please implement the click on timeline to zoom and click on left and right margins to zoom out
- [ ] Please implement a limit to zoom-out based on the data + 100 years margin from both sides (meaning if we have data from 1100 to

[2016-01-27 08:37] mushon opened #23 "Demo 2 different Mapbox map style transitions"
So we know what we're working towards will indeed look the way we intend it to

[2016-01-27 12:58] yuvadm commented on #23
Two relevant demos:

https://www.mapbox.com/mapbox-gl-js/example/setstyle/
https://www.mapbox.com/mapbox-gl-js/example/color-switcher/

We need to aim for the second example, switch only layout props

[2016-01-27 13:08] yuvadm commented on #23
As long as we follow the transition-able properties we should be fine: https://www.mapbox.com/mapbox-gl-style-spec/

[2016-01-27 13:41] mushon opened #24 "cluster + number on map"
only un

[2016-01-27 13:42] mushon opened #25 "cluster + number on timeline"

[2016-01-27 13:43] mushon opened #26 "Implement sidebar for event list"

[2016-01-27 13:44] mushon opened #27 "tie between event markers on map, timeline and sidebar"

[2016-01-27 13:45] yuvadm commented on #1
@mushon discovered we can do this by holding the shift key and choosing the rectangle. we just need to change to a :heavy_plus_sign: cursor on shift

[2016-01-27 13:48] mushon opened #28 "Design base map including all layers"

[2016-01-27 13:48] mushon opened #29 "Design interaction for pulling timeline up"

[2016-01-27 13:49] mushon opened #30 "Design onboarding intro"

[2016-01-27 13:52] mushon opened #31 "add image thumbnails to markers"
using sprite. image size: 40*40px (80*80px in retina)

[2016-01-27 13:52] josefspr opened #32 "why doesn't the site work on my safari, only on chrome"
any idea ?

[2016-01-27 13:55] mushon opened #33 "stretch time spans on full date"
for example if the date is 2016-00-00 the timespan should stretch from Jan-1-2016 to Dec-31-2016.
and if the date is 2001-09-00 the timespan should stretch from Sep-1-2001 to Sep-31-2001.

[2016-01-27 13:57] mushon opened #34 "Implement handles to timespans"
the handles should be distributed along the timespan in maximum possible distance from each other to allow easy hovering and clicking

[2016-01-27 16:29] yuvadm commented on #32
what exactly isn't working?

[2016-01-27 17:03] josefspr commented on #32
the map doesn't show up

[2016-01-27 17:18] yuvadm commented on #32
just the map? what about the timeline? can you post some screenshots?

[2016-01-27 17:22] yuvadm commented on #32
Safari seems to have WebGL disabled by default, a very weird decision.

Enable it: http://onvert.com/guides/enable-webgl-safari/

[2016-01-27 19:05] josefspr commented on #32
in my version the enable option does not appear. chrome works fine, the issue is wether there are many browsers that do not support WebGL, we have to check out this issue thouroughly

[2016-01-27 19:19] yuvadm commented on #32
WebGL is fully supported on all modern browsers, and then some (mobile included) http://caniuse.com/#feat=webgl

[2016-01-28 13:51] yuvadm commented on #32
This issue is probably best dealt with in #22 where we notify the user of the base browser requirements: webgl, JS, screen resolution

[2016-01-28 13:52] yuvadm commented on #20
This is implemented. Further improvements in separate tickets.

[2016-01-28 13:52] #20 closed

[2016-01-28 13:54] yuvadm commented on #26
Implemented sidepane for single events, list comes next

[2016-01-28 16:42] yuvadm commented on #26
Implemented list

[2016-01-28 16:42] #26 closed

[2016-01-30 21:25] yuvadm commented on #33
fixed in 0b983f8

[2016-01-30 21:25] #33 closed

[2016-01-30 21:25] yuvadm commented on #27
fixed in 0b983f8

[2016-01-30 21:25] #27 closed

[2016-02-01 13:41] mushon opened #35 "Add hover labels to markers on the map and the timeline"

[2016-02-02 12:51] mushon opened #36 "Add + & - buttons for both map and timeline"

[2016-02-02 13:36] mushon commented on #6
Current version available here:
https://api.mapbox.com/styles/v1/mushon/cijzh5hn000zzbmkv7sw2g5os.html?title=true&access_token=pk.eyJ1IjoibXVzaG9uIiwiYSI6IjY1bHhhTkEifQ.DhW2zcurHHBtmnc2FsMBqg#4/38.01065548424398/18.680128565568253/0

[2016-02-02 13:36] yuvadm commented on #1
Use CSS style `cursor: crosshair;`

[2016-02-02 13:37] mushon commented on #18
functionality implemented, please review design feedback above ^

[2016-02-02 13:38] mushon commented on #23
Awaiting two maps with parallel layer structure see issue #28

[2016-02-02 13:41] mushon opened #37 "Try getting demographic GIS data for Jewish communities"

[2016-02-02 13:41] mushon opened #38 "Design event cards"

[2016-02-02 13:43] mushon opened #39 "List marker type categories"

[2016-02-02 13:45] mushon opened #40 "Generate each map's label layer from our database"

[2016-02-02 14:30] mushon opened #41 "Write help text"

[2016-02-03 13:28] mushon commented on #25
@yuvadm one way to possibly do clustering would be through a hack on Hexagonal Binning:
http://bl.ocks.org/mbostock/4248146
If the calculation uses hexagons but the visualization would use circles instead, maybe we could implement this more easily. What say you?

[2016-02-03 14:17] josefspr commented on #39
https://docs.google.com/document/d/1uVnZW3GDvyTlC-6wtPzKHqt1VdYq-u3u3eXwmH8w8YU/edit
you are invited to remark, modify and elaborate

[2016-02-03 14:17] #39 closed

[2016-02-04 13:23] #1 closed

[2016-02-04 13:24] yuvadm commented on #19
Most of these points are now fixed after I've pushed a new implementation of the zoom behavior. I'll open separate tickets for some outstanding issues.

[2016-02-04 13:24] #19 closed

[2016-02-04 13:25] yuvadm opened #42 "First zoom event not registered"
Zoom behavior suffers from a 1-off bug. First wheel event doesn't happen, and last event only occurs after some other event, such a mouse click/drag happens.

[2016-02-04 13:26] yuvadm opened #43 "Max zoom resolution"
Current zoom behavior stops at a max resolution of ~year. Need to see how we extend resolution and allow further zoom in,

[2016-02-04 13:27] yuvadm commented on #35
@mushon Do we have any designs for this? Or should I just use some placeholder for now?

[2016-02-04 14:39] mushon commented on #35
For now please use the defaults provided by the lib

[2016-02-07 12:15] yuvadm commented on #31
We have severe sprite limitations at this point. Here's the gist of it:
- Sprites endpoint is implemented per [specification](https://www.mapbox.com/mapbox-gl-style-spec/#sprite) on the backend (https://daat-hamakom-data.herokuapp.com/sprites.json and https://daat-hamakom-data.herokuapp.com/sprites.png)
- Current GL JS API doesn't allow to insert sprite sheet programatically, it must be built into

[2016-02-07 12:24] mushon commented on #31
understood.
I would suggest we indeed work with categorical SVG and then communicate with an HTML layer above them to overlay images and html content.

[2016-02-07 20:29] yuvadm commented on #24
We can do clusters now that GL JS has shipped 0.13.1 with native clustering support (in addition to `icon-allow-overlap`, see https://github.com/mapbox/mapbox-gl-js/issues/2048) but task is pending further design decisions.

[2016-02-07 20:29] yuvadm commented on #24
In the meantime I removed all clustering and allowed icon overlap so we have a better sense of the data.

[2016-02-07 20:30] yuvadm commented on #35
Labels partially added to map and timeline hover action.

[2016-02-07 21:02] yuvadm commented on #31
The HTML overlay is not a trivial task to implement. I'll sniff around the uber react repo since they did similar stuff, but unless there something i can easily adapt, I'm not sure this fits our scope.

[2016-02-10 09:05] amitay7 opened #44 "Marker type categories - icons"
Publication:
- [ ] Music (publication + folklore/liturgy documentation)
- [ ] Publication or compilation of text (Book, article)
- [ ] Exhibition of visual art (including cinema)

Documentation:
- [ ] Sound Documentation (ethnography, documentary)
- [ ] Video documentation
- [ ] Visual archive (documentary or any visual collection)

Activity:
- [ ] Person’s Activity (time span in a place, encounte

[2016-02-10 09:48] mushon commented on #39
continued in #44

[2016-02-10 14:43] yuvadm opened #45 "On zoom rectangle add marking"

[2016-02-10 14:49] yuvadm opened #46 "Dates of format YYYY-00-00 should span entire year"

[2016-02-10 14:50] yuvadm commented on #46
Same for YYYY-MM-00

[2016-02-10 14:55] mushon commented on #38
current status (not closed yet):

![uploads/4a765861-f5d4-40bb-ad3f-cc91a74a3bb4/selected item.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F4a765861-f5d4-40bb-ad3f-cc91a74a3bb4%2Fselected+item.png)

[2016-02-10 16:16] yuvadm opened #47 "Double click timeline should zoom out"

[2016-02-10 16:24] mushon commented on #38
- [x] mock up different image aspect ratios
- [x] add lightbox prompt icon on the image
- [x] mock up full screen image
- [x] mock up embeds further down the card scroll
- [x] account for time spans in metadata

[2016-02-10 20:50] yuvadm commented on #46
Fixed in 719c44e

[2016-02-10 20:50] #46 closed

[2016-02-14 11:10] amitay7 opened #48 "historical events timeline"
@josefspr we were discussing how and if should historical events appear while getting filtered multiple timelines.

should historical events appear while viewing filtered results (even if they aren't a part of the results)?

[2016-02-14 19:50] #42 closed

[2016-02-15 11:07] josefspr commented on #48
seems that they should appear on a separate timeline, perhaps only those in the time/space boundaries
of the filtered results.

[2016-02-23 20:01] josefspr opened #49 "hebrew reversed on mapbox GL map"
When I zoomed to mount scopus the Hebrew names are written in reverse

[2016-02-23 22:40] yuvadm commented on #49
We do not currently support Hebrew on the map, see https://github.com/mapbox/mapbox-gl/issues/4

[2016-02-24 08:05] yuvadm opened #50 "Timeline annotation fixes"
See why sometimes the annotation line breaks

And never go beyond viewport edge

[2016-02-24 08:24] yuvadm opened #51 "De-emphasize out-of-bounds map/timeline markers"

[2016-02-24 08:39] yuvadm opened #52 "Timeline marker clustering"

[2016-02-24 09:18] mushon commented on #38
![uploads/102b8918-c11d-4947-8df7-9e47db770aeb/selected item + sound.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F102b8918-c11d-4947-8df7-9e47db770aeb%2Fselected+item+%2B+sound.png)

![uploads/5c33512c-3951-454a-bcf2-ecc8f81f2ed4/selected item + video.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F5c33512c-3951-454a-bcf2-ecc8f81f2ed4%2Fselected+item+%2B+vi

[2016-02-24 09:19] mushon commented on #31
make editable square thumbnails to fit the marker size.

[2016-02-24 09:20] mushon commented on #17
Redesign this panel to fit current graphic language

[2016-02-24 09:21] mushon commented on #36
![uploads/20139e96-7cb0-44ed-bf40-43801ce099c0/sidebar closed.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F20139e96-7cb0-44ed-bf40-43801ce099c0%2Fsidebar+closed.png)

[2016-02-24 09:24] #36 closed

[2016-02-24 09:25] #35 closed

[2016-02-24 09:26] #31 closed

[2016-02-24 09:27] #4 closed

[2016-02-24 09:27] mushon commented on #4
![uploads/de2c50eb-72d2-447c-ac38-695bfd24ce14/sidebar closed.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fde2c50eb-72d2-447c-ac38-695bfd24ce14%2Fsidebar+closed.png)

[2016-02-24 09:31] #32 closed

[2016-02-24 09:32] mushon commented on #47
- shift + double click should zoom out

[2016-02-24 09:33] #49 closed

[2016-02-24 09:33] mushon opened #53 "implement cards design"

[2016-02-24 09:34] mushon commented on #53
design:
https://invis.io/5T61MJWXW

[2016-02-24 09:36] mushon opened #54 "demo 2 map style transition w diff"

[2016-02-24 09:37] mushon opened #55 "fix undefined markers"
see: Tradition of Subotica, Hungary

[2016-02-24 09:39] mushon commented on #53
- [ ] implement oEmbed
- [ ] implement audio embed
- [ ] implement image gallery
- [x] implement design in css
- [x] use [OpenSans](http://www.opensans.com/) as default font

[2016-02-24 12:31] yuvadm commented on #55
@josefspr the Kol Mekadesh project doesn't have a cover image, that's why the markers are undefined

[2016-02-24 12:56] yuvadm commented on #24
@mushon I flipped the switch. Please take a look at the initial cluster impl and see how you like the mechanics (of course marker click behavior etc. is still pending)

[2016-02-24 13:02] mushon commented on #24
looking good.
Can you try it with a slightly smaller radius and maybe a 80% opacity?

[2016-02-24 13:03] josefspr commented on #55
strange, I was sure I put it... anyways added now

[2016-02-24 13:06] yuvadm commented on #55
thanks!

[2016-02-24 13:06] #55 closed

[2016-02-24 13:06] yuvadm commented on #24
@mushon done

[2016-02-24 14:10] mushon commented on #24
the map wouldn’t load

![image](https://cloud.githubusercontent.com/assets/27123/13287704/164b0048-db11-11e5-8ba3-ddf7f064439f.png)

[2016-02-24 15:52] mushon commented on #54
Here we go:
[diff-2-maps.zip](https://github.com/daat-hamakom/maps/files/144900/diff-2-maps.zip)

[2016-02-25 10:22] mushon commented on #24
ok, it works now.

more feedback:
- [x] make cluster smaller
- [x] color the text white
- [x] Does Mapbox support animated clustering / declustering like leaflet does?
- [x] At some point after zooming into a declusterable cluster, the cluster disappears. See Jerusalem:

![uploads/c64e9e78-49ee-474a-bade-5f88d61969b2/7dQbWrwqM3.gif](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fc64

[2016-02-25 10:25] mushon commented on #54
Actually let's try with this one instead (more changes in the red map):
[diff-2-maps.zip](https://github.com/daat-hamakom/maps/files/146325/diff-2-maps.zip)

[2016-02-25 10:45] yuvadm commented on #24
Mapbox doens't support animated clustering.

And the cluster disappears because I've set a maximum zoom level. I'll make sure it always stays as a cluster.

[2016-02-25 10:48] mushon commented on #24
ok, let's keep an eye to see if more clustering features are added and use them if we see fit.

[2016-02-25 14:13] amitay7 commented on #38
![uploads/a6bc0f62-d8ff-4dda-b3cd-8d7fa43cd3d4/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fa6bc0f62-d8ff-4dda-b3cd-8d7fa43cd3d4%2Fblob)

[2016-02-25 14:20] mushon commented on #9
let's wait with this one for the map base to be ready (#28)

[2016-02-25 14:25] mushon commented on #54
@yuvadm just a friendly reminder that this is a priority for us. ;)

[2016-02-25 15:04] yuvadm commented on #24
@mushon Pushed new version with the style fixes

[2016-02-25 15:11] yuvadm commented on #54
@mushon i'm on this

[2016-02-25 16:10] #24 closed

[2016-02-25 16:10] mushon commented on #24
awesome, closing.

[2016-02-25 16:11] mushon commented on #38
@yuvadm, I sent you the access to invisionapp where you'll find the assets folder. You can download them from: https://projects.invisionapp.com/d/main#/projects/5753463/assets

[2016-02-25 16:12] mushon commented on #12
@amitay7 please prioritize this one

[2016-02-25 16:16] mushon commented on #18
@amitay7 this should be addressed with #17 and closed when #17 is done

[2016-02-25 16:17] mushon commented on #16
@amitay7 I think thi is addressed through #17. No?

[2016-02-25 16:17] #23 closed

[2016-02-25 16:17] mushon commented on #23
duplicate of #54. Closing

[2016-02-25 21:31] yuvadm commented on #54
@mushon please take a look at the current map. 10 Seconds after loading it will change the style to the one you gave me. Seems to perform rather well!

[2016-02-26 07:47] mushon commented on #54
Thanks @yuvadm, but please note the transition wasn't complete. On the left you can see what the map should have looked like and on the right what it currently does after transition:

![uploads/3224a229-3cdc-4d48-97c4-0acb287db5a9/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F3224a229-3cdc-4d48-97c4-0acb287db5a9%2Fblob)

You will see that:
1. the textures that weren't used be

[2016-02-26 08:19] yuvadm commented on #54
I thought we agreed that only paint properties are part of the diff. In any case I added the layout properties as well since they are also easy to switch (`setPaintProperty()` and `setLayoutProperty()` APIs). This is already deployed.

Next will be to do the switch the other way around and have some nice buttons for it. Will get to that later today.

[2016-02-26 08:34] mushon commented on #54
we need all the diff to change, some will change via transition, other would just flip through, but we need them all to change.
If you’re adding buttons, it would also be great to have an input field for the transition duration ;)

Thanks

[2016-02-26 08:38] yuvadm commented on #54
If you expect anything else to change other than paint/layout props than expect that those might not work since I don't have APIs for them

[2016-02-26 08:42] mushon commented on #54
I’m not clear on the terminology. what types of properties can or cannot change?

[2016-02-26 13:12] yuvadm commented on #54
Paint and layout properties on each layer, see https://www.mapbox.com/mapbox-gl-style-spec/#layers

[2016-02-26 13:40] mushon commented on #54
I think paint and layout properties cover quite a lot and I don’t think we will need anything beyond that

Mushon Zer-Aviv
Mushon.com http://mushon.com/ | Shual.com http://shual.com/ | @mushon http://twitter.com/mushon

[2016-02-28 12:52] amitay7 commented on #12
@josefspr can you please enter such an event (events with equal metadata) so we can get better sense of how it should look like?

[2016-02-28 14:04] yuvadm commented on #54
@mushon Your diff has two extra layers "building copy 1" and "building copy 2". (See https://gist.github.com/mushon/e5e3011fc1996355a1a8/revisions) That might be affecting why the diff doesn't complete properly. Take a look at the currently deployed version (still on the 10 sec timer, sorry).

[2016-02-28 14:22] josefspr commented on #12
what do you mean equal meta data ? I already have events that have the same description and media
attached to them, do you also need them to have the same person field ?

[2016-02-28 17:01] mushon commented on #54
Possibly simpler solution - use the built in [compare API](https://www.mapbox.com/mapbox-gl-js/example/mapbox-gl-compare/) with a twist:

![uploads/004ae054-f01b-4163-b24b-0751e7b5941d/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F004ae054-f01b-4163-b24b-0751e7b5941d%2Fblob)

The idea is that on hover the target map will appear in a cropped circle (essentially border radius o

[2016-02-28 17:56] mushon opened #56 "Use custom icons"
we should go for something more unique that would go with the overall design.
For example look at how nice the icons on http://jsfiddle.net/ also work with their logo (which is another task we should open)

[2016-02-28 17:59] mushon commented on #54
also relevant: http://stackoverflow.com/questions/15007903/html5-canvas-with-rounded-corner

[2016-02-28 18:01] yuvadm commented on #54
@mushon I'm not sure what this gives us. I'll need to manage state on `N` different maps and this is no less of a hack than what we're doing now.

[2016-02-28 18:19] mushon commented on #54
Ok. I will call to discuss this tomorrow.

[2016-02-28 18:41] yuvadm commented on #54
aye

[2016-02-28 20:08] amitay7 opened #57 "cards for people, orgenizations and places"
take info fields from exel

[2016-03-02 08:23] mushon commented on #54
Please call me when you’re available for a short conversation.

[2016-03-02 13:10] yuvadm opened #58 "Fix hover/select marker offset"

[2016-03-02 13:16] yuvadm opened #59 "Un/declusterable cluster click behavior"
- Undeclusterable should open event list in sidepane
- Declusterable should zoom to cluster extent

[2016-03-03 06:30] josefspr opened #60 "screenshot of map opening on part of screen"
<img width="1280" alt="map bug" src="https://cloud.githubusercontent.com/assets/15631729/13486467/1561e07a-e11a-11e5-94c7-b7713f813ab5.png">

[2016-03-03 07:09] mushon commented on #60
I can confirm that I've been getting this bug myself more often than not

[2016-03-03 09:04] yuvadm commented on #60
@mushon when this happens for you, do you see any anomaly in the map element styling? if you inspect the map div, what are it's extents?

[2016-03-03 13:22] mushon commented on #60
Something seems to assign 300px height to the canvas element. Look:
![image](https://cloud.githubusercontent.com/assets/27123/13495460/8ff26ac4-e153-11e5-900e-d33b253a7e31.png)

Another pointer for you could be the fact that resizing the browser fixes things. Maybe something miscalculates the size of the screen and when another resize event is fired, all is aligned again?

[2016-03-03 15:11] yuvadm commented on #60
Weird. Those 300px aren't coming from my code as far as I can tell.

[2016-03-03 15:12] yuvadm commented on #59
This isn't completely resolved, but navigating to a single event is possible now:
- zoom in on the relevant location
- once the cluster markers changes into a ring marker, click on it
- if it's a single event you'll see it
- if there are many events on the same location, click on the event will lead you to the event page
- @josefspr

[2016-03-03 15:27] josefspr commented on #59
that's great, thanks. one remark - if there are several events on same location it's a cluster until
zooming then becomes a marker, this is a bit confusing.Would it be possible not to display as cluster ? I suppose this is more complicated to solve, you can try fixing when you're back.

[2016-03-03 15:36] yuvadm commented on #59
If it's easier, I can disable clustering entirely until we have the final behavior working. This might help during the content creation period.

[2016-03-03 15:51] josefspr commented on #59
no, you can leave it like this.

[2016-03-03 15:54] josefspr commented on #59
no, in second thought lets disable clustering...

[2016-03-03 21:34] yuvadm commented on #59
Done

[2016-03-10 07:53] mushon opened #61 "Enter historical events"

[2016-03-10 08:37] josefspr opened #62 "small event card when aggregate card is open"
consider the possibility to create a small format of event card (e.g. cover and title) when the aggregate card is open.

[2016-03-13 14:43] yuvadm opened #63 "Style JSON merge script"

[2016-03-13 15:14] amitay7 commented on #62
![image](https://cloud.githubusercontent.com/assets/16412974/13729478/a2e0ed16-e93e-11e5-948b-0b7247bcea54.png)

[2016-03-13 15:19] mushon commented on #62
Just to clarify:
This is a contracted mode that the event card minimizes to (after being opened) when the extended timeline opens.

[2016-03-13 15:32] josefspr opened #64 "URL link in description - open URL in new tab"
now it leaves the map

[2016-03-13 16:04] yuvadm commented on #64
@mushon Do we actually want `target="_blank"` across the board?

[2016-03-13 16:31] josefspr commented on #61
created project "Historical Events" with a few events in the location of Jerusalem

[2016-03-13 18:32] amitay7 commented on #62
![image](https://cloud.githubusercontent.com/assets/16412974/13729509/28ebcd36-e93f-11e5-902a-20e4bbcd0831.png)

[2016-03-13 19:09] josefspr commented on #62
looks nice, place should also appear.

[2016-03-14 09:53] josefspr opened #65 "Minimal recommended size for images"
In some cases its easier to get copyrights for a lower res, so tell me what minimal size still
looks got in the lightbox.

[2016-03-14 11:11] mushon commented on #65
This really depends on the original image and how detailed it is.
I would say that images that are lower than 800px wide or 600px high are not worth showing in the lightbox.
Hopefully we will get images that are of much higher resolution than that and we will be able to show them in sizes that are more around 1600*1200px

[2016-03-14 12:57] amitay7 commented on #64
yes

[2016-03-14 13:12] yuvadm commented on #64
:+1:

[2016-03-14 14:21] amitay7 commented on #12
![uploads/bf057f99-62e7-4d47-b2c4-6f0e1948d0a6/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fbf057f99-62e7-4d47-b2c4-6f0e1948d0a6%2Fblob)

[2016-03-14 14:39] amitay7 commented on #29
![uploads/cf7b26a6-a0af-4b38-b852-b7464ed5f2da/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fcf7b26a6-a0af-4b38-b852-b7464ed5f2da%2Fblob)

[2016-03-14 14:51] josefspr commented on #12
Not sure I understand the example. here are 2 events with the same data:
https://daat-hamakom-data.herokuapp.com/admin/maps/event/141/change/?_changelist_filters=project__id__exact%3D4
https://daat-hamakom-data.herokuapp.com/admin/maps/event/142/change/?_changelist_filters=project__id__exact%3D4

[2016-03-14 15:22] amitay7 commented on #17
![uploads/5d6a1c65-e502-4028-a6b1-a3013d77ef11/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F5d6a1c65-e502-4028-a6b1-a3013d77ef11%2Fblob)

[2016-03-14 15:57] amitay7 commented on #18
![uploads/45197222-6c17-48e5-a078-ee21cee4318c/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F45197222-6c17-48e5-a078-ee21cee4318c%2Fblob)

[2016-03-14 15:57] #18 closed

[2016-03-14 15:59] amitay7 commented on #16
yup

[2016-03-21 08:55] josefspr opened #66 "Hovering does not work when locations are close to each other"
Currently in order for hovering to work, the current hover event's thumbnail must go down before you can hover to another event, so if 2 events are close to each over, the hovering does not work properly.

[2016-03-21 09:00] josefspr opened #67 "Sort events by time in non-declusterable list card of events"

[2016-03-21 09:03] josefspr opened #68 "fix even labels on timeline when close to edge of timeline"

[2016-03-21 09:22] josefspr opened #69 "some movie don't work although links are ok"
example event Collaborative balloon mapping in mt. scopus, the youtube link is fine.
<img width="945" alt="screen shot 2016-03-21 at 11 18 02 am" src="https://cloud.githubusercontent.com/assets/15631729/13914405/df0a72f8-ef56-11e5-9384-e612c207da77.png">

[2016-03-21 10:45] yuvadm commented on #69
This seems to be a problem with the video itself on youtube. The video works fine on https://www.youtube.com/watch?v=C2k5PB2Ez_c but clearly is broken when using the embed URL https://www.youtube.com/embed?v=C2k5PB2Ez_c

[2016-03-21 10:47] yuvadm commented on #69
Ignore. I found a way to workaround the bad link. https://www.youtube.com/embed/C2k5PB2Ez_c works fine

[2016-03-21 11:19] yuvadm commented on #63
Script ready, awaiting feedback on studio import @mushon

[2016-03-21 14:58] mushon commented on #63
[code]

@yuvadm for efficiency, maybe try using your own Mapbox account to debug this merge?

[2016-03-21 15:19] yuvadm commented on #63
@mushon Try the new JSON with the ref fixes. It seems to be imported successfully

[2016-03-21 15:25] mushon commented on #63
@yuvadm where is the new JSON? link?

[2016-03-21 15:28] yuvadm commented on #63
Emailed, but also here https://gist.github.com/yuvadm/99564a40490ac67af6cf

[2016-03-21 16:51] mushon commented on #63
Good news: It's merged and it works!
mapbox://styles/mushon/cim26vf0600p1ccm3qi7741vn
https://api.mapbox.com/styles/v1/mushon/cim26vf0600p1ccm3qi7741vn.html?title=true&access_token=pk.eyJ1IjoibXVzaG9uIiwiYSI6IjY1bHhhTkEifQ.DhW2zcurHHBtmnc2FsMBqg#11.493423399863389/42.92970870955918/11.159282623473501/0

+

Please note that some layers were visible and others weren't + the two styles were not separ

[2016-03-22 10:28] yuvadm commented on #63
@mushon https://gist.github.com/yuvadm/46703948deb07979f517

this includes all the fixes you mentioned. only limitation is that we can only use one level of groups, so I just used one per style, and inside it's all flat.

[2016-03-22 11:00] yuvadm opened #70 "Query string based project filtering"
@josefspr I've implemented an initial version of filtering by project via URL query string. To launch it, type the following URL in a clean window (this won't work if your current tab is already open on Daat Hamakom).

For example: https://daat-hamakom.herokuapp.com/#/project/2 will only show the Ha'Measef events. The ID `2` is taken from the admin interface (so in this example Ha'Measef is edited

[2016-03-22 11:01] yuvadm commented on #70
Future work on the filters will make this process much more user-friendly, this is just to get you going per request.

[2016-03-22 12:09] #69 closed

[2016-03-22 12:27] yuvadm commented on #66
This was closed by a3b3669 (and not #68 as accidentally marked)

[2016-03-22 12:27] #66 closed

[2016-03-22 12:36] #68 closed

[2016-03-22 12:45] yuvadm commented on #58
This was fixed together with #66

[2016-03-22 12:45] #58 closed

[2016-03-22 13:03] #64 closed

[2016-03-22 13:04] yuvadm commented on #50
Fixed as dupe of #68

[2016-03-22 13:04] #50 closed

[2016-03-22 19:06] mushon commented on #63
Perfect!
`mapbox://styles/mushon/cim3s6ylu00z3bkkkhpqjfrw8`
https://api.mapbox.com/styles/v1/mushon/cim3s6ylu00z3bkkkhpqjfrw8.html?title=true&access_token=pk.eyJ1IjoibXVzaG9uIiwiYSI6IjY1bHhhTkEifQ.DhW2zcurHHBtmnc2FsMBqg#3.311490394297387/33.4739986200819/19.692763180765525/0

Please note both layer groups are currently visible and hence the default labels show through the pre-industrial map. But I

[2016-03-22 21:14] yuvadm commented on #63
@mushon awesome! I'll move forward with switching between the styles, should have a POC tomorrow

[2016-03-23 07:48] josefspr commented on #70
when I use the query string filter in chrome I always get bug #60 opening of part of map

[2016-03-23 07:49] josefspr commented on #70
<img width="1280" alt="screen shot 2016-03-23 at 9 46 14 am" src="https://cloud.githubusercontent.com/assets/15631729/13978788/6b9c085e-f0dc-11e5-888e-412827822c2a.png">

[2016-03-23 07:52] josefspr commented on #70
where can I see the ids of the projects ?

[2016-03-23 09:12] yuvadm commented on #70
@josefspr IDs can be taken from the admin, see my first comment.

As for #60, that's very weird. It happens only with filtered URLs, and never happens otherwise?

[2016-03-23 09:14] josefspr commented on #70
It happens also without filter, but after I refresh it once, it is ok, so actually #60 was not solved yet...

[2016-03-23 10:28] #60 closed

[2016-03-23 14:31] josefspr opened #71 "Thumbnail and image not appearing"
event "Tradition of Amsterdam", can't see any problem with image file

[2016-03-23 15:09] yuvadm commented on #71
This happened because the old file had hebrew chars, and when the new file was updated it didn't get thumbnails generated. I did that manually and it looks good now.

Note that for performance reasons I'm not updating thumbnails on media files, so if a bad file is uploaded, it either needs to be fixed manually by me, or simply deleted, and create a new media object instead.

[2016-03-23 15:09] #71 closed

[2016-03-27 08:12] yuvadm commented on #63
Next steps
- see what's the problem with the opacity toggling instead of visibility
- revert back to transition branch and do property diff changes

[2016-03-27 08:27] mushon opened #72 "design / choose theme for html5 audio-tag"

[2016-03-27 08:50] mushon opened #73 "Design icon for document download"
in the card description

[2016-03-27 09:18] mushon opened #74 "Consider SmartCrop.js"
or just crop tops of portrait images to avoid bad face cropping

[2016-03-27 11:48] yuvadm commented on #54
Follow on #63

[2016-03-27 11:48] #54 closed

[2016-03-27 11:49] yuvadm commented on #53
We have all these. Specifics in new tickets

[2016-03-27 11:49] #53 closed

[2016-03-27 11:53] yuvadm opened #75 "Bring back the map clusters"

[2016-03-27 11:55] yuvadm commented on #51
Three classes:
- Primary - visible in both map and timeline
- Secondary - visible in timeline and not in map
- Secondary - visible in map and not in timeline

[2016-03-27 11:56] yuvadm opened #76 "Center events on click"
- Map click on event should center timeline
- Timeline click on event should center map

[2016-03-27 11:56] yuvadm opened #77 "Add map zoom controls"
Zoom in, zoom out, rotate back to North

[2016-03-27 11:56] yuvadm opened #78 "Add main app title"

[2016-03-27 11:57] yuvadm opened #79 "Event card close back to event list"
If nagivation to an event card was made from the event list, it should close back to the list instead of closing the entire card.

[2016-03-27 11:58] yuvadm opened #80 "Use large thumbnails in lightbox"
Might need to adjust them to 1000px max

[2016-03-27 11:58] yuvadm opened #81 "Add lightbox controls"

[2016-03-27 11:58] yuvadm opened #82 "Implement event marker random popups"

[2016-03-27 12:42] mushon commented on #82
Just a note, these will indeed be random popups but only from the pool of selected to be highlighted and currently in view

[2016-03-27 13:53] yuvadm commented on #82
'Random' as in:
![random_number](https://cloud.githubusercontent.com/assets/315080/14065687/6605988e-f43c-11e5-8b61-61f5463931f2.png)

[2016-03-27 13:59] mushon commented on #82
:+1:

[2016-03-27 14:05] amitay7 commented on #82
@Yuval
how should we export buttons with icons for you? [image: Inline image 1]
these can come as PNG, font awesome or SVG icons
Tell us, tell us now!

On Sun, Mar 27, 2016 at 3:59 PM, Mushon Zer-Aviv notifications@github.com
wrote:

[2016-03-27 14:06] yuvadm commented on #82
@amitay7 I think SVG icons would be easiest for me to work with, PNG as fallback please.

[2016-03-27 15:21] amitay7 commented on #77
![image](https://cloud.githubusercontent.com/assets/16412974/14066032/4c8cfec2-f448-11e5-8fa2-5ef5a54ac7c0.png)
[map_btns.zip](https://github.com/daat-hamakom/maps/files/190965/map_btns.zip)

[2016-03-29 11:49] yuvadm commented on #63
Opacity toggling simply isn't working properly. See branch `transition-opacity` for a POC.

[2016-03-30 09:50] yuvadm opened #83 "Missing event list icon"
Missing assets for this icon:

![1459331368](https://cloud.githubusercontent.com/assets/315080/14138421/de9ec532-f675-11e5-95af-3c49cfb7aa6a.png)

[2016-03-30 13:30] yuvadm commented on #63
@mushon Please try a new and improved merged style https://gist.github.com/yuvadm/558a8baaeec54f62b4b5cc468b1c31a7

Note that since all the toggling of layers is done via opacity props, you won't be able to play with this in the studio.

[2016-03-30 13:32] yuvadm commented on #63
(I still need to implement some missing client side parts)

[2016-03-30 14:59] mushon commented on #63
mapbox://styles/mushon/cimez8r6k00plbolzpmeovm8l

[2016-03-30 15:25] yuvadm commented on #63
@mushon making progress, please pull and take a look. what's wrong with the preindustrial style?

[2016-03-30 15:55] yuvadm commented on #63
@mushon this might be a problem with (re-)setting opacity values that are functions and not numbers.

In the browser console, after transitioning to preindustrial, type this to see the problem:

[code]

Taking this upstream. In the mean time please go over the preindustrial style and see if there are any anomalies in the original/merged style

[2016-03-30 15:59] yuvadm commented on #63
Actually the call seems to be working just fine. Maybe the `background-pattern` isn't loading?

[2016-03-31 05:28] mushon commented on #63
I can see that, and indeed there was a problem with some textures not set correctly for pre-industrial.
@yuvadm can you check again with the same style?

[2016-03-31 06:42] yuvadm commented on #63
@mushon I think we have a winner!!

[2016-03-31 06:49] mushon commented on #63
I’m going back and forth transitioning the hell out of it, it’s amazing…

[2016-03-31 06:50] yuvadm commented on #63
:heart_eyes_cat:

[2016-03-31 06:51] mushon commented on #63
We will need to transition the marker styles too, how do you suggest doing that?

[2016-03-31 06:57] yuvadm commented on #63
For starters we'll need to have new marker assets on the style. I still need to figure it out.

[2016-03-31 09:14] amitay7 commented on #83
added more icons and updated the first ones
[daat Icons.zip](https://github.com/daat-hamakom/maps/files/197279/daat.Icons.zip)

[2016-03-31 09:31] amitay7 commented on #83
also - here is the main design spec, you can also in it in the Invision folder
[specs.pdf](https://github.com/daat-hamakom/maps/files/197315/specs.pdf)

[2016-03-31 09:40] yuvadm commented on #83
:+1:

[2016-03-31 09:40] #83 closed

[2016-04-01 11:11] yuvadm commented on #63
Closing this issue, we're done here. Will open a new one for marker changes.

[2016-04-01 11:11] #63 closed

[2016-04-01 11:11] yuvadm opened #84 "Add marker assets for non-default styles"
Once we have them, use them in the style transitions.

[2016-04-01 11:32] mushon commented on #84
I need a data source which I can point MBstudio at and use it to style the markers differently based on their metadata. Any pointers for how might I go about doing that?

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2016-04-01 12:07] yuvadm commented on #84
I don't think you need to do that at all, leave that to me. I just need the new assets.

For example, now we have the blue `default-marker`s. If you can just add an asset called `preindustrial-marker` I'll (hopefully) be able to change the markers on the fly when toggling styles. I hope we're keeping them the same shape, just different colors?

[2016-04-02 18:53] josefspr opened #85 "Display event subtitle"
do we have design for this ?

[2016-04-03 08:24] yuvadm commented on #59
Bringing back clusters in #75

[2016-04-03 08:24] #59 closed

[2016-04-03 13:58] yuvadm commented on #75
@mushon There are some limitations in the mapbox clustering API that limit us in getting data from the clusters (specifically, I can't get a direct description of which events are inside a specific cluster). Right now the only reasonable thing we can do is drop mapbox's clustering completely, and collect all non-declusterable events on the backend side, rendering them differently than single event

[2016-04-03 14:06] #67 closed

[2016-04-03 14:31] #80 closed

[2016-04-03 20:38] josefspr commented on #75
in what cases do you need to know the events within a cluster ?

[2016-04-03 20:58] yuvadm commented on #75
@josefspr In order to show the event list in the side pane, or alternatively to zoom in to the extent where all events can be seen individually. I can't do this if there's no way to get which events were "counted" in a specific cluster.

[2016-04-04 04:34] josefspr commented on #75
I don't know the details but perhaps an indirect derivation if an event is in the hovered or selected cluster based on proximity + the event is in (any) cluster ?

[2016-04-04 13:48] mushon commented on #75
@yuvadm that really sucks…
1. Did you flag this issue to @Mapbox?
2. If you are going to implement marker clustering in the timeline, would that be of any benefit for rolling your own clustering on the map as well?
3. Maybe it would still be easier to use their clustering but just calculate the relevant events for the sidebar differently (or maybe render two layers of markers - one clustered and v

[2016-04-04 14:13] yuvadm commented on #75
@mushon
1. Yes, this is a wontfix, see https://github.com/mapbox/mapbox-gl-js/issues/2358
2. Not neccesarily. In the timeline component I'm already positioning elements spatially, not so in the map component where I only use mapbox APIs. I'll need to think about this some more.
3. There's no way to calculate this precisely, I can only attempt to estimate which area the current cluster is using and

[2016-04-05 09:16] yuvadm commented on #51
@mushon this enhancement is conflicted with the clustering behavior, both on the map and the timeline #75. How do we de/emphasize different events if they're clustered together? Defining this point is blocking me on this issue.

[2016-04-05 11:45] josefspr commented on #78
The sand clock and daat hamakom are missing in title

[2016-04-05 12:47] yuvadm commented on #78
@mushon please send assets / styles for this

[2016-04-05 21:44] yuvadm commented on #81
Added in `lightbox` branch merge

[2016-04-06 04:57] josefspr commented on #81
thanks very much. there is issue of different sizes of images, that cause the caption and controls to jump up and down does not look nice, and if the image is very large it overlays on them. I would suggest that we limit the max size of light box, and keep the caption and controls in same position, what do you say ?
Example cases:
Ran Morin - The Botanical Garden
Helmar Lerski as cinematographer o

[2016-04-06 06:32] yuvadm commented on #81
@josefspr sorry I thought I fixed that, thanks for the example cases.

[2016-04-06 09:50] yuvadm commented on #75
Per my discussion with Mushon, we're going with the following solution: separate undeclusterable events from 1-of events to separate layers and render them separately. This means we might have separate clusters close to each other, but that way we don't have to deal with the technical limitations of de-clustering.

[2016-04-06 10:12] josefspr commented on #75
so are you using the clustering of mapbox or only your clustering ?

[2016-04-06 10:19] yuvadm commented on #75
We still use mapbox clustering, but the layer separation makes it simple to implement the separate behaviors for each type of cluster.

[2016-04-06 11:12] yuvadm commented on #75
@mushon take a look at the initial POC deployed now. The lighter clusters are the undeclusterable ones, the darker ones are single events. (Click actions TBD)

[2016-04-06 12:58] josefspr commented on #75
looks cool

[2016-04-06 14:28] mushon commented on #75
Very promising.
However, can you make sure the texts don’t overlap?

[2016-04-06 14:37] yuvadm commented on #75
@mushon what do you mean? how should overlapping markers behave?

[2016-04-06 18:52] mushon commented on #75
Sorry, spoke too soon. I guess there’s no way around it.
Let’s move forward with what we have right now.
Let’s see it with click interactions.

[2016-04-06 19:04] yuvadm commented on #75
Still stuck on some non-trivialities (see https://github.com/mapbox/mapbox-gl-js/issues/2384), I'm trying to work around that limitation.

[2016-04-10 05:52] josefspr commented on #73
@yuvadm and @amitay7 can we implement this one soon ? I need it for some of the researchers projects. thanks

[2016-04-10 05:54] josefspr commented on #77
@yuvadm can the zoom in and out be in a transition, not a discrete step ?

[2016-04-10 05:57] josefspr opened #86 "add timeline controls"
at least the zoom in/out (animation can wait).

[2016-04-10 10:00] mushon commented on #73
Here you go:

![uploads/4ba76d8e-6424-4859-a7f4-b03bd5497e9f/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F4ba76d8e-6424-4859-a7f4-b03bd5497e9f%2Fblob)

![uploads/b9a0bb5a-451f-4731-a0b3-d2efaa938a7c/doc_icon.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb9a0bb5a-451f-4731-a0b3-d2efaa938a7c%2Fdoc_icon.png)

![uploads/e9421b0e-959c-49d9-a62e-031b6c598889/d

[2016-04-11 08:23] josefspr opened #87 "smearing of image in event card"
Proportions issue, many places, example:
Kol Mekadesh Shevi'i melody Attributed to the Baal Shem Tov (Tel-Aviv)
Perhaps crop the right proportions.

[2016-04-11 08:24] josefspr commented on #81
Another thing: the lightbox should open in the image selected in card, not in first image.

[2016-04-11 08:38] yuvadm commented on #81
@josefspr that should be the current behavior, is it not?

[2016-04-11 08:42] yuvadm commented on #74
This is nice, but pushing this to later

[2016-04-11 08:44] yuvadm commented on #77
@josefspr current zoom API doesn't do transitions. (neither does this happen on scroll, for example)

[2016-04-11 08:46] mushon commented on #77
Maybe this required passing the transition values through the Zoom API?

[2016-04-11 08:53] yuvadm commented on #77
There's no such option as far as I can tell. I can maybe test doing an incremental zoom. So instaed of `map.setZoom(zoom+1)` I do `zoom+0.1` 10 times.

[2016-04-11 09:46] josefspr commented on #81
When enlarging an image from the card, the lightbox should open on the current image, not the 1st one

[2016-04-11 09:48] mushon commented on #77
That’s what I meant :)

[2016-04-11 10:05] josefspr opened #88 "some events do not steal event tags on hovering"
open card
Construction of Mt. Scopus University Campus
hover on other events, in most (not all) cases the event tag is not stolen by hovered event

[2016-04-11 10:56] yuvadm commented on #77
a'ight, will test this.

[2016-04-12 09:46] #81 closed

[2016-04-12 09:47] yuvadm commented on #77
@mushon no visible effect even when adding steps, there's a rendering buffer somewhere beyond my control.

[2016-04-12 09:50] yuvadm commented on #77
also, see https://github.com/mapbox/mapbox-gl-js/issues/1730

[2016-04-12 09:52] yuvadm commented on #75
work here is now on branch `2clusters`

[2016-04-12 10:09] mushon commented on #77
Try using this
https://www.mapbox.com/mapbox-gl-js/example/flyto/

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2016-04-12 10:21] yuvadm commented on #77
@mushon sweet, I didn't know flyTo accepts a zoom transition. Nice catch!

[2016-04-12 10:23] #77 closed

[2016-04-12 12:20] josefspr commented on #77
coolissimo!

[2016-04-12 16:43] josefspr opened #89 "missing thumbnails"
events:
Hans G. Casparius in Germany
Hans G. Casparius in Palestine (Dead Sea)
Hans G. Casparius in Palestine (Tel-Aviv) - 1 image not appearing
Can you tell me what is wrong with files (currently you can deal with blank spaces in filename, no ?)

[2016-04-13 12:04] yuvadm commented on #89
I've already recommended not to work with whitespaces in filenames. Theoretically we support them, but they're always a cause for trouble, as is evident in this case. I'll take a look.

[2016-04-13 12:04] yuvadm commented on #88
Does this still happen in the current version (without clusters)?

[2016-04-13 12:04] yuvadm commented on #87
Yep this is a bug in the last thumbnails update. Fixing.

[2016-04-13 12:27] #87 closed

[2016-04-13 12:28] yuvadm commented on #89
should be fixed now

[2016-04-13 12:28] #89 closed

[2016-04-13 13:13] josefspr commented on #88
yes

[2016-04-13 13:17] josefspr commented on #87
still smeared
Helmar Lerski as cinematographer of expressionist films
3rd image of metropolis

[2016-04-13 13:27] yuvadm commented on #88
can you point me to two events where this occurs?

[2016-04-13 13:29] yuvadm commented on #87
@josefspr I don't see any smears there. can you clear browser cache and provide a screenshot?

[2016-04-13 13:39] yuvadm commented on #88
@josefspr are you talking about the map markers or the event name annotation right above the timeline?

[2016-04-13 13:53] josefspr commented on #88
the event name annotation above the timeline, do you see it ?

[2016-04-13 13:55] josefspr commented on #87
<img width="418" alt="screen shot 2016-04-13 at 4 54 08 pm" src="https://cloud.githubusercontent.com/assets/15631729/14495514/779e4654-0198-11e6-88c4-118dedc96bcc.png">

[2016-04-13 13:59] josefspr commented on #88
<img width="510" alt="screen shot 2016-04-13 at 4 56 43 pm" src="https://cloud.githubusercontent.com/assets/15631729/14495606/dd042374-0198-11e6-8e7a-4c26b8b3f381.png">
the event I am hovering on timeline is
Recording of Kol Mekadesh Shevi'i - Tradition of Grodno, Belarus (Jerusalem)

[2016-04-13 14:02] josefspr commented on #88
<img width="1106" alt="screen shot 2016-04-13 at 5 00 46 pm" src="https://cloud.githubusercontent.com/assets/15631729/14495724/59536ebc-0199-11e6-8cd2-bbc0407062aa.png">

[2016-04-13 14:04] yuvadm commented on #87
you're seeing a stale image, did you clear browser cache?

[2016-04-13 14:04] yuvadm commented on #88
yes I see. i'll adapt the annotation behavior.

[2016-04-13 14:06] josefspr commented on #87
sorry you're right...

[2016-04-14 06:37] mushon opened #90 "Animate the logo for the project"
Title:
Jewish Cultures on the Map
Interactive Exploration in Time and Space

Sketch:

![uploads/4727ab68-4098-4853-ab60-5255fe45c1cc/IMG_5547 copy.jpg](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F4727ab68-4098-4853-ab60-5255fe45c1cc%2FIMG_5547+copy.jpg)

[2016-04-14 14:25] josefspr opened #91 "the dybbuk bug..."
open the event
Hans G. Casparius in Palestine (Tel-Aviv) in the 6 image...
now hover to another place and try to open a different card, does not replace the current card
<img width="865" alt="screen shot 2016-04-14 at 5 20 51 pm" src="https://cloud.githubusercontent.com/assets/15631729/14531302/793916b0-0265-11e6-90c8-2a925e8bd9bf.png">

[2016-04-14 19:34] yuvadm commented on #91
Indeed an error here:

[code]

[2016-04-17 06:06] josefspr opened #92 "lightbox size overflow"
I did open or mention this one before, but cannot find it. Can you fix it soon ? it shouldn't be difficult.
example event
Publication of Naftali Herz Imber's Barkai
screenshot:
<img width="1278" alt="screen shot 2016-04-17 at 9 02 53 am" src="https://cloud.githubusercontent.com/assets/15631729/14585381/50811476-047b-11e6-8ec4-169642c77e69.png">
original image:
![herz imber words](https://cloud.git

[2016-04-17 06:07] josefspr opened #93 "magnifying glass control on event card thumbnails"
couldn't find that one also. do we have design for this ?

[2016-04-17 06:11] josefspr commented on #82
can you make an initial demo for this for tues. meeting ?

[2016-04-17 14:05] mushon commented on #93
@josefspr  I'm sorry but I'm not sure I understand what you mean by that

[2016-04-17 15:40] josefspr commented on #93
is it this ?
<img width="92" alt="screen shot 2016-04-17 at 6 39 06 pm" src="https://cloud.githubusercontent.com/assets/15631729/14588193/cc39597a-04cb-11e6-943b-aa7fd5a93241.png">
its a bit unnoticable, no ?

[2016-04-18 13:01] yuvadm commented on #88
Fixed in recent commit

[2016-04-18 13:11] #91 closed

[2016-04-18 13:23] yuvadm commented on #92
@mushon can you take a look at the lightbox styling and recommend a fix for this?

[2016-04-18 20:19] josefspr commented on #88
this creates another problem of overlay of annotations, my suggestion is that the during hovering the annotation of open card disappears.

[2016-04-18 20:57] yuvadm commented on #88
in that case the timeline behavior is different than the one in the map where we do have two hover/select markers

[2016-04-18 21:01] josefspr commented on #88
yes, lets discuss this with Mushon

[2016-04-19 05:17] josefspr commented on #88
maybe even enough that hovered annotation will be above open card's, this is what happens with the markers.

[2016-04-19 08:23] mushon opened #94 "lightbox arrows should support keyboard and loop after last image"

[2016-04-19 08:24] mushon commented on #92
use 90vh and 90vw
See: http://snook.ca/archives/html_and_css/vm-vh-units

[2016-04-20 16:08] josefspr commented on #88
@mushon if hovered annotation will be with slightly different color and go over the annotation of open card it will be clear the annotation was stolen by hovering, no ?

[2016-04-20 16:09] josefspr opened #95 "add layer of historical events to events filtered by project"

[2016-04-24 11:21] josefspr opened #96 "Help for map"
Mushon, we should also think about the help and guidance for using the map. I assume there are good standard tools for this.

[2016-04-25 06:46] amitay7 commented on #72
base it on:
https://projects.invisionapp.com/d/main#/console/5753463/135225566/preview

[2016-04-25 07:53] amitay7 commented on #72
![image](https://cloud.githubusercontent.com/assets/16412974/14777085/69ea47ee-0ad3-11e6-8d90-aa9df1770f4b.png)

[2016-04-25 08:22] amitay7 commented on #72
![sound-pause 1x](https://cloud.githubusercontent.com/assets/16412974/14777755/d7641792-0ad7-11e6-8e06-91c9340515ae.png)
![sound-pause 2x](https://cloud.githubusercontent.com/assets/16412974/14777758/d785b3ca-0ad7-11e6-8528-8bc8847105c2.png)
![sound-play](https://cloud.githubusercontent.com/assets/16412974/14777756/d7647188-0ad7-11e6-8087-0592abc6d432.png)
![sound-play 2x](https://cloud.githubuser

[2016-04-25 09:16] amitay7 commented on #72
![sound-pause](https://cloud.githubusercontent.com/assets/16412974/14779166/83a703f0-0adf-11e6-944c-75a60c555503.png)
![sound-pause 2x](https://cloud.githubusercontent.com/assets/16412974/14779168/83a9c694-0adf-11e6-9962-4b7d939d0e69.png)
![sound-play](https://cloud.githubusercontent.com/assets/16412974/14779167/83a9768a-0adf-11e6-9356-758fee74cb15.png)
![sound-play 2x](https://cloud.githubusercon

[2016-04-25 09:18] amitay7 commented on #72
![image](https://cloud.githubusercontent.com/assets/16412974/14779195/a4f1a038-0adf-11e6-88dd-e570175415fb.png)

[2016-04-25 09:22] amitay7 commented on #85
![image](https://cloud.githubusercontent.com/assets/16412974/14779344/665a95b8-0ae0-11e6-88e7-7f0c5a272ab5.png)

[2016-04-25 09:38] amitay7 commented on #93
thicker and with some shadow:
![image](https://cloud.githubusercontent.com/assets/16412974/14779804/7939931c-0ae2-11e6-9968-fad85b1c4a04.png)

also have now rollover versions:
![i-expand rollover](https://cloud.githubusercontent.com/assets/16412974/14779784/5faeae5a-0ae2-11e6-9608-d76ebbf30671.png)
![i-expand rollover 2x](https://cloud.githubusercontent.com/assets/16412974/14779781/5fa6de14-0ae2-1

[2016-04-25 09:42] #44 closed

[2016-04-25 10:41] yuvadm opened #97 "Annotations implementation"

[2016-04-25 10:42] yuvadm commented on #97
Things are looking good for creating annotations via a GeoJSON source. Starting from line annotations.

+@mushon @josefspr

[2016-04-25 13:30] josefspr opened #98 "font sizes in event card"
Are the sizes of fonts finalized? I have the impression that fonts, especially description can be smaller so you don't have to scroll so much, but perhaps this is also an accessability limitation...

[2016-04-25 13:36] josefspr opened #99 "Hover/select thumbnail in case of unclusterable POI"
Now it just opens one of the thumbnails, I think that is ok and not necessary to create a special thumbnail, but what would clarify is that it would look like there are other thumbnails beneath it, you
know what I mean ?

[2016-04-25 13:38] josefspr opened #100 "Highlighted categories of events"
Writing what we discussed last week, the possibility to highlight a given category of events based on a search tag.

[2016-04-25 14:03] amitay7 opened #101 "intro"
on-boarding
המפה וציר הזמן מציגים --- אירועים שמקורים ב---- מחקרים של תרבות יהודית שנערכו בדעת המקום
each event is located and dated both on the map and on the timeline
you can find a story inside each marker and dig deeper to filter and analyse the parallel timelines
for example

[2016-04-25 14:05] amitay7 opened #102 "help page"
@josefspr here are some topics to start with, would you want to continue?
- timeline: dragging timeline up, zoom scrolling, side time dragging
- search: how to open, comparing timelines
- the side list btn ("on this view")
- photo / video -> lightbox behaviour

[2016-04-25 14:16] josefspr commented on #102
what is the basic format of the help - a single document with explanations and screenshots ? or a set of hotspots in different locations in the interface ? will we use tooltips ?

[2016-04-25 16:05] mushon commented on #102
- right now we’re thinking of a help page and a short on-boarding (#101) that will explain what it’s about and would recommend the first event to start from (random choice from a pool of recommended events)

[2016-04-26 14:13] #92 closed

[2016-04-26 14:13] yuvadm commented on #85
@mushon is this finalized?

[2016-04-26 14:37] yuvadm commented on #94
lightbox now loops, keyboard support is stil buggy

[2016-04-26 14:55] mushon commented on #85
yes please :)

[2016-04-26 15:14] mushon commented on #99
We can make undeclusterable clusters slightly bigger (8x8px) and give them full opacity unlike the 50% transparent single markers. @yuvadm can we try this? Do you need anything from me to make this happen?

[2016-04-26 15:14] mushon commented on #98
We can try 15px instead of 16px. I will keep it as an issue for me to look into once I get into the CSS.

[2016-04-26 17:03] mushon commented on #100
I suggest implementing this as a special kind of tag that opens a list and then pulls the event on top of it in a way that clarifies the rest of the events both as a list and as markers on the map and timeline:
https://invis.io/HC6EQ6L7Q#/152468526_Event_Group

[2016-04-26 17:39] josefspr commented on #92
Its almost there but part of text still gets covered.
Hans G. Casparius in Heringsdorf
Catholic German Church Lied, 17th Century (Münster)

[2016-04-26 17:43] josefspr commented on #93
There are a few problems:
On bright background not seen (e.g. Catholic German Church Lied, 17th Century (Source))
It doesn't behave right when you are not on it magnifying works, when you are on it it doesn't
Why not just change the cursor when anywhere on thumbnail ?

[2016-04-27 08:46] yuvadm commented on #97
Annotations react to interaction only (click, hover), pending exact spec

[2016-04-27 11:32] mushon commented on #93
@amitay7 please address @josefspr's point above

[2016-04-28 06:19] yuvadm commented on #72
Example: Sound Recording of Gilat Center, Beer Sheva

As designed right now requires a special JS widget, let's stick to CSS props only.

[2016-04-28 06:26] mushon commented on #99
- we need to design the hover for it @amitay7 can you look into it?

[2016-04-28 06:28] mushon commented on #72
WE need to go with something that is simpler to implement over the default HTML5 player

[2016-04-28 06:32] mushon commented on #93
sorry, Amitay please make the drop-shadow more emphasized

[2016-04-28 06:33] mushon opened #103 "Can we merge Reference, Origin and Quote annotations?"

[2016-04-28 10:12] amitay7 commented on #93
more shadow:
![i-expand](https://cloud.githubusercontent.com/assets/16412974/14882745/d8e194e2-0d42-11e6-949d-81f7c0aafb44.png)
![i-expand 2x](https://cloud.githubusercontent.com/assets/16412974/14882746/d8e5b374-0d42-11e6-92a8-9f996cd5621f.png)

[2016-04-28 13:12] #93 closed

[2016-04-28 13:13] yuvadm commented on #99
@mushon @amitay7 yes I need new assets for this. THe opacity I can do myself, but the size isn't something I can do.

[2016-04-29 05:56] josefspr commented on #103
yes, we can.
so here's the summary of annotations (correct me if wrong):
1. reference - between 2 events. directional (determined by origin event) or non-directional (no origin, a reciprocal relation).
2. communication (includes correspondence) - between 2 events. directional or non-directional
3. path - directional, 1-2 events + ordered set of places. origin event is obligatory, if there is a sec

[2016-04-29 05:57] josefspr commented on #73
event with document:
Bassola Visits in Pula

[2016-04-29 06:06] josefspr commented on #93
Didn't we decide that that we use a magnify cursor instead of a located magnifying button ?

[2016-04-29 07:59] mushon commented on #93
yes, let’s do that.

[2016-04-29 08:00] mushon commented on #103
Great! @amitay7 please take note.

[2016-05-02 16:43] josefspr opened #104 "Thumbnails do not appear"
Events:
Choral arrangement of Hatikvah in Gymnasia Herzliyah
Polish patriotic song "Mazurek Dąbrowskiego"

[2016-05-03 11:02] josefspr commented on #103
examples:
reference, group - project Kol Mekadesh Shevi'i
travel/path (between 2 events) + group - project Early Modern Travellers to the East
I will soon create a project with multiple point paths

[2016-05-04 13:00] yuvadm commented on #104
Looks like an original file was a bad upload. I refreshed the thumbnails and should look good now.

I also fixed the polish song youtube link, it was a partial URL.

[2016-05-04 13:00] #104 closed

[2016-05-04 18:59] josefspr opened #105 "map looks bad (polygonized) in some screens/displays"
![map1](https://cloud.githubusercontent.com/assets/15631729/15025713/4e7ffbbc-1243-11e6-978a-db205d66484c.PNG)
![map2](https://cloud.githubusercontent.com/assets/15631729/15025717/531cae90-1243-11e6-84f3-98c08641bf11.PNG)

Screen shots from my partner's computer.
Mushon this also happened in the presentation in Daat Hamakom, remember ?

[2016-05-05 13:21] yuvadm commented on #75
Irrelevant now that we're moving forward without clusters. Branch still exists for posterity.

[2016-05-05 13:21] #75 closed

[2016-05-05 13:41] #73 closed

[2016-05-05 15:36] josefspr commented on #76
centering of map by timeline works great, centering timeline by map does not work good.

[2016-05-05 15:42] josefspr opened #106 "Display caption for sound files."
e.g.
Nobandegan Tradition of 'Adonai Shamati' for the High Holidays
2 sound files are compared and we don't know what is each.

[2016-05-08 10:26] josefspr commented on #103
small correction for annotations: an arrow/edge annotation can also be 1 event + 1 place (non-event).
this case is applicable for example for the telegrams maps (communication) where there is usually a sending event to a destiny but not a receiving event.

[2016-05-09 06:11] josefspr opened #107 "Display copyright info of sound and images"
perhaps a copyright info button on the enlarged image or in the event card.

[2016-05-10 10:20] josefspr opened #108 "lightbox control displays additional non-existing image"
Event: Hatikvah melody resembles the "Leoni Yigdal"
When clicking lightbox, control shows additional image, I suppose it refers to sound file.
but when I chose it, there is nothing.

[2016-05-11 06:35] mushon opened #109 "Resize map width when card is open"

[2016-05-11 08:23] yuvadm opened #110 "Add sound caption"

[2016-05-11 08:23] yuvadm commented on #110
Duplicate of #106

[2016-05-11 08:23] #110 closed

[2016-05-15 09:21] yuvadm commented on #103
@josefspr existing `origin` type annotations should be merged into what new type?

[2016-05-15 12:07] yuvadm commented on #103
Per https://github.com/daat-hamakom/data/issues/87 - resolved. All existing annotations were merged according to their new types.

[2016-05-15 12:07] #103 closed

[2016-05-16 07:29] mushon opened #111 "zooming to event should show its full annotation"

[2016-05-16 08:06] yuvadm commented on #111
@mushon just to clarify this is an issue for fixing event map context fields, right?

[2016-05-16 08:47] josefspr commented on #111
I'm also not completely sure what you mean.

[2016-05-16 08:59] mushon commented on #111
Right now when we click a marker that has annotation it zooms to it like any other marker.
We need to make sure we can see the full annotation like travel and reference lines that often require a much wider zoom.
That’s all.

[2016-05-16 19:03] josefspr commented on #111
Let's start by overriding map context of annotated events with continent, will cover most cases. If necessary we can consider bounding boxes etc.

[2016-05-17 09:03] josefspr commented on #97
please display annotations also on hover.

[2016-05-18 13:04] #109 closed

[2016-05-18 13:23] #106 closed

[2016-05-19 15:07] yuvadm commented on #97
@mushon I need the line-pattern assets to be available to me on the style. Are they ready?

[2016-05-20 03:47] josefspr opened #112 "default thumbnail and media icon parameter"
I would recommend the following:
if the media icon field is empty - use project thumbnail or person thumbnail.

[2016-05-20 07:40] mushon commented on #97
how do you want me to input them. Do you want me to simply send them to you?

[2016-05-20 08:27] mushon commented on #112
I think we already discussed this but the hierarchy should be:

[code]

cc @yuvadm

[2016-05-20 10:22] josefspr commented on #112
event icon you should mean "media icon", no ?

[2016-05-20 11:53] mushon commented on #112
I'm not sure what you mean by media icon

[2016-05-20 12:00] josefspr commented on #112
In the event form, you can choose which of the media items to use for thumbnail. What I suggest is that if  none is selected, you fallback to person/project. The reason is that in many cases the media is not good as thumbnail (e.g. a text image) and project/person is better.

[2016-05-20 12:53] mushon commented on #112
ok, fair enough.

[2016-05-20 14:16] yuvadm commented on #97
No i just need them to be available on the style per https://www.mapbox.com/mapbox-gl-style-spec/#paint-line-pattern

[2016-05-22 06:56] mushon commented on #97
These 4 files have been added to the map style. Please add them in 10px width.
For reference:
[annotations.zip](https://github.com/daat-hamakom/maps/files/276208/annotations.zip)

[2016-05-22 07:54] yuvadm commented on #97
@mushon I'll also need non-default markers that I can use to highlight group annotations

[2016-05-22 09:29] yuvadm commented on #97
@mushon cool, starting to look good on my side, I can see and use and assets. However, I need a definition of which ones to use in which context. A reminder that we currently have 4 types of annotations:
- reference
- group
- path
- communication

Which asset should I use in which case? And note that groups require a separate marker as mentioned above

[2016-05-22 12:43] mushon commented on #97
- ann_origin.svg = reference
- grouped-marker.svg = group (change all group markers to this)
- ann_travel.svg = path
- ann_communication.svg = 1 way communication
- ann_correspondance.svg = 2 way communication

[2016-05-22 12:53] yuvadm commented on #97
@mushon muchos gracias!

[2016-05-23 09:16] josefspr commented on #97
Mazal tov on the annotations !!
Liked the travel and communication (only directional was implemented, right?)
Reference is a bit strange for me, feels like some kind of echo or transmission and is also too thick.
In general all of them could be thinner or lighter.

[2016-05-23 09:30] yuvadm commented on #97
@josefspr yes, directionality is still not fully implemented. and I agree they all need to be thinner.

[2016-05-24 09:00] josefspr opened #113 "error in youtube clip"
Event
A Day in Warsaw
Why do I get error in movie ?

[2016-05-24 13:17] yuvadm commented on #113
Probably because the URL includes unneccesary metadata `https://www.youtube.com/watch?v=Wr6NgPUl6rI&list=PLD3450A6D953BF223&index=4` it should only have the `v=Wr6NgPUl6rI` part (including the first part obviously), nothing after that

[2016-05-24 20:32] josefspr commented on #113
sorry, thought I removed metadata but autocomplete put it back...

[2016-05-25 04:47] josefspr opened #114 "annotations stop working when opening certain cards"
select event on cyprus the travel appears
now select event "Bassola passed through Kfar Hittin" near Kineret
now select again cyprus, annotation does not appear
now close event card
select event on cyprus again, the annotations appear again

[2016-05-25 11:40] yuvadm commented on #97
@josefspr @mushon the current group markers don't stand out enough, please take a look at the current deployed version.

[2016-05-25 12:03] mushon commented on #97
why do the default markers appear under the group markers?
![image](https://cloud.githubusercontent.com/assets/27123/15539201/cccb24c8-2289-11e6-964f-70355e6c2a38.png)

[2016-05-25 12:06] yuvadm commented on #97
@mushon because just changing the marker icons is more complicated than it seems, so I'm adding them for now

[2016-05-25 14:31] mushon commented on #97
Ok, this obviously affects the design as well, here's another attempt:
![image](https://cloud.githubusercontent.com/assets/27123/15543524/e539a99e-229d-11e6-81fc-9d13dbdca850.png)

Either way, I really don't understand what to make of the use of groups here really…

[2016-05-25 15:07] josefspr commented on #97
Can we try to make them blink ? or some other animation, because the large size is disrupting other markers.

[2016-05-25 15:24] josefspr commented on #97
The new reference pattern is very nice !

[2016-05-25 15:44] josefspr commented on #97
here are a few examples of groups:
https://daat-hamakom.herokuapp.com/#/project/4 : oberland local tradition (hungary/Israel)
https://daat-hamakom.herokuapp.com/#/project/7: Bassola's travels (there will be other travelers)
https://daat-hamakom.herokuapp.com/#/project/8: works of 2 film creators Lerski and Casparius

[2016-05-25 16:03] josefspr opened #115 "wrong direction of path"
check Hans G. Casparius Travels from Germany to Palestine
https://daat-hamakom-data.herokuapp.com/admin/maps/annotation/115/change/?_changelist_filters=o%3D-2%26p%3D1

[2016-05-25 16:03] yuvadm commented on #97
@mushon this isn't a restriction for you, just a temporary measure for me.

[2016-05-25 16:03] yuvadm commented on #97
@mushon do we have a new line width that looks better than 10px?

[2016-05-25 17:17] mushon commented on #97
Yes. 7px

Mushon Zer-Aviv
Mushon.com | Shual.com | @Mushon

[2016-05-25 17:18] mushon commented on #115
BTW, getting permalinks to work in the frontend will help better communicate on these types of QA issues.

[2016-05-26 14:38] mushon opened #116 "Add pointer to everything clickable"
Since we don't use ``<a>`` in the webapp the interface doesn't show pointer on hover. This can be fixed via CSS by adding ``cursor: pointer`` to any clickable element.

[2016-05-26 15:27] mushon opened #117 "Enable the 6 periods for maps"
the 6 periods:

- Pre-Industrial: Before the French Revolution (1789)
- Industrial: 1789 - 1914 (WWI)
- Modernism: 1914 - 1939 (WWII)
- Dark Times: 1939-1945 (war is over) (if you want it)
- Post-War: 1945-2000 (The Millenium Bug)
- Contemporary: After 2000

[2016-05-26 17:14] josefspr opened #118 "light-up target event of edge"
When there is a reference/path/communication, I think the event that is connected to the selected event should be lighted up or perhaps the 2 sides of edge should be treated as a group. What do you think ?

[2016-05-29 10:39] #115 closed

[2016-05-29 10:39] yuvadm commented on #117
Fixed for pre-industrial events in 7e9d1d876c

Pending further designs

[2016-05-29 10:50] #116 closed

[2016-05-30 17:12] josefspr opened #119 "design reduced format of project card"
If this exists or is already an issue remove it.

[2016-05-30 17:13] josefspr opened #120 "where to place timeline events annotations in project card ?"

[2016-05-30 17:15] josefspr commented on #111
override default continent isn't good. for now comment this out, and user will take the annotations in consideration for map context of event.

[2016-05-30 17:20] josefspr opened #121 "communication annotation - connect event to place"
This possibility appears in telegraph map (Rabbi X sending/recieving to/from place Y).  In this case the non-event place will not have it's own marker, right ?

[2016-05-30 17:23] josefspr opened #122 "annotations events (group, edges) should also be emphasized in timeline"

[2016-05-30 17:24] josefspr opened #123 "where will title of group appear ?"

[2016-05-31 10:41] yuvadm commented on #111
Done

[2016-05-31 10:41] #111 closed

[2016-05-31 14:24] yuvadm commented on #119
@mushon this is becoming high priority since I'm starting work on the new bottom component and I need to understand how it behaves when it expands/contracts and how that affects entire page layout.

[2016-06-01 05:46] mushon commented on #119
Sorry, I was teaching yesterday and couldn't respond.
This has been designed ages ago and is available here:
https://invis.io/HC6EQ6L7Q#/140710133_Research_Person

I think you all should have access to all the Invision mockups but if you don't, please let me know.

[2016-06-01 07:00] yuvadm commented on #119
@mushon we're not referring to the side panel. Josef and I both recall discussing some sort of minimized version of the project view i.e. the bottom pane.

[2016-06-01 07:03] mushon commented on #123
do we have a title for a group? I don't think we do.

[2016-06-01 07:04] mushon commented on #122
this should happen on hover and on click in a parallel way to how it happens on the map. Let's decide when we're happy with how it works on the map and then adapt it to the timeline.

[2016-06-01 07:05] mushon commented on #121
right

[2016-06-01 07:06] mushon commented on #120
not sure I understand the question

[2016-06-01 07:10] mushon commented on #118
yes, treated as a group. I think this is already implemented? or is it just a group that contains a path?
![image](https://cloud.githubusercontent.com/assets/27123/15701121/05023af0-27e1-11e6-9806-06d3c35e9f4d.png)

[2016-06-01 07:11] mushon commented on #117
awesome!

[2016-06-01 07:14] mushon commented on #98
actually, @yuvadm would you change the default font size to 15px? I don't want to mess up your code right now and it's a simple change that would help us understand better what we're dealing with.

[2016-06-01 07:45] mushon commented on #119
Got it.
As discussed over the phone, here's the mockup for that:
https://invis.io/NM7HTZEQK

This contracted view will happen when:
- timeline pane is minimized (handle is dragged down or clicked)
- an event card is opened

The extended project card will appear again when:
- timeline pane height is reset (handle is dragged up or clicked)
- an event card is closed
- project title is clicked (either

[2016-06-01 11:21] josefspr commented on #123
I was referring to description field that can serve as title or short description text, we want to know what the group is.

[2016-06-01 11:23] josefspr commented on #120
right now the annotation is directly above timeline. In the project card above the timeline is a search field.

[2016-06-01 11:24] josefspr commented on #118
The events are lighted up because they are in group. The 2 edges (or at least the one that is not open) should light up event if not in a group.

[2016-06-01 11:28] josefspr commented on #119
ok, only remark that I don't think that the extended project card should reappear when event card is closed, it can stay minimized.

[2016-06-01 12:15] yuvadm commented on #98
@mushon feel free to commit and push to `master` branch. it's always good for editing.

[2016-06-05 14:33] mushon opened #124 "Define a format for style specific markers"

[2016-06-05 14:34] mushon opened #125 "Provide Mushon period specific label jsons with type metadata"

[2016-06-05 14:36] mushon opened #126 "Add a dynamic class on the body element"
For every changing map

[2016-06-05 14:36] mushon commented on #126
This also mean we need descriptive classes on the SVG elements in the timeline

[2016-06-05 14:44] mushon opened #127 "Design additions to new filtering scheme"
- [ ] Default view with search box and placeholder text: ``filter by research name, person, organization, place, tag or free text``
- [ ] On searchbox focus: Box opens to show horizontal list of researches
- [ ] On typing: horizontal list is replaced with autocompleted objects: research, person, organization place or tag
- [ ] Clicking an autocompleted objects leads to its timeline card that can b

[2016-06-05 19:35] josefspr commented on #118
target event of edge will open a small thumbnail.

[2016-06-05 19:42] josefspr opened #128 "add to map issues breakdown categories (or labels)"
Event Card
Timeline
Annotations
Aggregates/Filtering
Transitions
Intro/tours
Wrapping-up - (Embedding, Logo, etc...)

[2016-06-07 12:28] josefspr opened #129 "Put videos in top of event cards (with pics)"
In this case, can thumbnail image in map be taken from the video ? (currently I put there a capture of the video, but now this will be redundant).

[2016-06-07 13:39] yuvadm commented on #129
@josefspr unfortunately we can't use the thumbnail from the image automatically (it's sligthly complicated to pull the image from youtube and process the thumbnail on client side). eliminating it from the content and putting in on top of the cards will be done as agreed.

[2016-06-07 20:02] josefspr commented on #129
that's fine

[2016-06-08 15:42] josefspr opened #130 "bug: cut event annotation on left side on hover"
Its something in additional to current annotation
<img width="697" alt="screen shot 2016-06-08 at 6 38 20 pm" src="https://cloud.githubusercontent.com/assets/15631729/15900510/6b65b372-2da8-11e6-8737-09a67e07929e.png">

[2016-06-09 11:24] yuvadm commented on #126
Fixed in bdef763

What's missing in the SVG elements?

[2016-06-09 11:51] yuvadm commented on #125
Here are all the labels for the preindustrial map (pre-1789) https://gist.github.com/yuvadm/94998265bb720d749a6caa1d567099a7

[2016-06-09 11:51] yuvadm commented on #125
@mushon ^

[2016-06-10 08:10] mushon commented on #125
Thanks, Implemented.
Will we have a more direct way of doing that going forward?

[2016-06-10 08:11] mushon commented on #126
I will play with this a bit and let you know if anything is missing. Closing this one for now.

[2016-06-10 08:11] #126 closed

[2016-06-10 08:22] yuvadm commented on #125
Of course, this data is generated on the fly on map creation and dynamically inserted as a layer named `[style]-places`. This data is just for you to play with in the studio.

[2016-06-10 08:49] mushon commented on #125
ok, we will need to implement the scalerank metadata to avoid cases like this (Great Synagogue at Duke's Court):
<img width="187" alt="screenshot at jun 10 11-49-00" src="https://cloud.githubusercontent.com/assets/27123/15959024/59996a6c-2f01-11e6-93c6-b9cd4628bab7.png">
Please also note the unique characters we will probably need to escape.

[2016-06-10 15:53] yuvadm commented on #125
@mushon I can generate a version that includes the scalerank data, just haven't connected that part of the API yet, but it'll probably help you with the testing. Special chars will probably have to be edited in the database itself

[2016-06-10 17:16] mushon commented on #125
Ok. Let me know when that can be available.

[2016-06-10 17:38] yuvadm commented on #125
@mushon soon, but it probably won't have too much data that differs from the default level unless @josefspr has gotten to updating records

[2016-06-12 08:17] yuvadm commented on #125
@mushon https://gist.github.com/yuvadm/335733d573df81bbafcefdf01fb8559b

[2016-06-13 04:16] mushon commented on #120
It should keep appearing on top of the search field but be hidden on search box focus.

[2016-06-14 12:29] #113 closed

[2016-06-16 11:31] yuvadm commented on #88
Resolution: steal the label on the timeline and see how we like it

[2016-06-16 11:41] yuvadm commented on #121
Baghdad is one such example event

[2016-06-16 12:09] mushon commented on #72
It seems that we cannot customize each browser's audio player implementation. The only way to go is to build the player and hook it to the HTML5 api with JS.

[2016-06-16 12:11] yuvadm commented on #129
Resolved

[2016-06-16 12:11] #129 closed

[2016-06-16 12:15] mushon commented on #107
@josefspr please add reference
+
we should decide whether this could include a link to another web resource

[2016-06-16 12:18] yuvadm commented on #107
@josefspr note that we already have `source` and `source_url` fields that we can use for linking to copyright info

[2016-06-16 12:34] yuvadm commented on #95
"Nice to have"

[2016-06-16 12:50] mushon opened #131 "show associated persons / organizations under description"
Like here:
https://invis.io/HC6EQ6L7Q#/135225566_Selected_Item_-_Sound

[2016-06-16 13:21] mushon opened #132 "Help button"

[2016-06-16 13:21] mushon opened #133 "Design About page"

[2016-06-17 08:53] yuvadm opened #134 "Webworkify build bug"
Tracking upstream: https://github.com/borisirota/webworkify-webpack/issues/10

[2016-06-17 09:04] yuvadm commented on #134
@mushon the issue you saw yesterday turns out to be a problem upstream that became relevant in one of my previous commits. I've pushed 74b6279a as a workaround, you can pull and things should work again. Let me know if you see any other errors.

[2016-06-19 06:06] mushon commented on #134
I pulled the latest commit but the map data still does not show.

[2016-06-19 07:43] yuvadm commented on #134
@mushon `rm -rf node_modules && npm install` if there's still a bug I need a traceback

[2016-06-19 07:54] #125 closed

[2016-06-19 08:05] #121 closed

[2016-06-19 08:50] #130 closed

[2016-06-19 11:31] josefspr commented on #121
thanks, looks cool!
<img width="985" alt="screen shot 2016-06-19 at 2 15 27 pm" src="https://cloud.githubusercontent.com/assets/15631729/16176998/89265c08-3628-11e6-834b-32773ddde2e6.png">

[2016-06-19 15:44] mushon opened #135 "Please combine new merge file for these 6 maps"
https://gist.github.com/mushon/ef290e3cef54a82390ab1c1738292420

the gist includes maps for:
- Pre-Industrial
- 19th Century
- Modernism
- Dark Times
- Post War

Plus:

- Default

Please build the hooks in the front end to support these maps.

Beyond that, each periodic map includes the ``labels: city`` layer that should show the periodic labels. When we get more varied metadata I will add layers

[2016-06-19 16:07] yuvadm commented on #135
@mushon the script requires some updating before it can process the merging of `N` styles, but once I patch it up I'll document the usage so you can do it yourself.

[2016-06-19 16:43] yuvadm commented on #135
@mushon can you rename the styles to be all lowercase without any whitespace or punctuation?

[2016-06-19 17:44] yuvadm commented on #135
@mushon

[code]

 should give you a `merged.json`. Please make sure the style names contain no spaces or any other special symbols - lowercase letters only.

[2016-06-19 19:09] josefspr opened #136 "sound player continues to play file of previous event"
Example:
play Al Jolson records Hatikva
select Richard Tucker records Hatikva
the player continues to play Al Johnson
only if I close and open event card, the sound file is reset.

[2016-06-20 04:54] josefspr opened #137 "video link that is not youtube does not work"
see event: Handwritten version of Hatikvah by Naftali Herz Imber
https://daat-hamakom-data.herokuapp.com/admin/maps/event/496/change/

[2016-06-20 06:02] mushon commented on #135
Thanks, but the script only merges the first two json files

[2016-06-20 06:29] yuvadm commented on #135
@mushon did you pull the latest commits on `master`?

[2016-06-20 06:30] yuvadm commented on #137
@josefspr we never discussed supporting arbitrary links. ~~Either way the widget located at http://cdnapi.kaltura.com/index.php/extwidget/openGraph/wid/1_9efw9gmn doesn't work for me at all~~

[2016-06-20 15:13] josefspr commented on #137
ok, to wish list... would it be possible to have embedded code inside descriptions ?

[2016-06-20 17:03] yuvadm commented on #137
@josefspr yes, if you edit the description HTML it will propagate all the way up to the interface, so you can technically throw in arbitrary embeds there. No promises on how they will render in terms of width/height unless you can control that via the embed params.

[2016-06-24 05:22] josefspr opened #138 "annotations of publishing house do not appear"
All annotations of publishing houses do not appear (in general or project maps)

[2016-06-26 05:37] josefspr commented on #138
there are many other annotations that are not working. e.g.
Telegram by Local Rabbis to the Ottoman government -> Istanbul
Handwritten version of Hatikvah by Naftali Herz Imber -> Naftali Herz Imber purchases his grave with Hatikvah

[2016-06-26 06:26] josefspr opened #139 "Stronger emphasize of hovered markers on timeline"
I think its hard to see them stand out.

[2016-06-27 08:47] josefspr commented on #138
Annotations of publishing houses still don't work:
Reestablishment of "Dvir" Publishing House
Establishment of "Stybel" Publishing House
Establishment of "Omanut" Publishing House

[2016-06-27 09:00] #138 closed

[2016-06-27 09:01] yuvadm commented on #138
@josefspr Indeed there were two bugs hiding under this issue. both should be fixed now.

[2016-06-27 09:10] josefspr commented on #138
great, thanks!!

[2016-06-28 07:53] yuvadm commented on #136
@josefspr this seems to be a bug that occurs deeper in the stack, possibly by react. can we workaround this in the mean time (by closing and opening event cards, as you mentioned)?

[2016-06-28 10:04] josefspr commented on #136
Yuval, I would very much prefer that we fix this one, Edwin's lecture is the highlight of the presentation. If it's really deep we'll reconsider.

[2016-06-28 20:36] #136 closed

[2016-06-28 20:36] yuvadm commented on #136
@josefspr found a decent workaround :)

[2016-06-29 04:30] josefspr commented on #136
bravo!!!

[2016-06-29 10:00] mushon opened #140 "event thumbnails squashed in cluster list"
<img width="521" alt="screenshot at jun 29 13-01-28" src="https://cloud.githubusercontent.com/assets/27123/16448347/a4f3b786-3df9-11e6-9a81-a7366e6d2cea.png">

they seem to be getting the wrong image

[2016-06-29 20:26] josefspr opened #141 "shift of position in hovered modernist map"
this seems to be map specific
<img width="465" alt="screen shot 2016-06-29 at 11 20 44 pm" src="https://cloud.githubusercontent.com/assets/15631729/16467629/d444b628-3e50-11e6-830d-aca20a7a72c8.png">

[2016-06-29 20:34] yuvadm commented on #141
@mushon this is the issue we discussed last time

[2016-06-29 21:10] mushon commented on #141
It's already fixed in master

[2016-06-29 21:29] yuvadm commented on #141
master is already deployed :)

[2016-06-29 21:31] yuvadm commented on #141
@mushon i still see this bug occurring on master

[2016-06-30 12:35] josefspr opened #142 "bug in google chrome (mac)"
It happens only in google chrome in my mac. I open the general map, select an event, e.g.
Reference to Kol Mekadesh Shevi'i in "Josef Ometz" by Joseph Hahn
Then I go to full screen. Now hovering on timeline and map don't respond.
Check if it happens on your computer on chrome. I'll reinstall google chrome on mac later.
Can be something unique.

[2016-06-30 13:22] mushon opened #143 "opening a card doesn't toggle the .hshrink class"

[2016-06-30 14:38] mushon opened #144 "merged.json bugs"
These are the differences between the meged.json file generated by the script vs. the one I downloaded from Mapbox after manual corrections:
https://gist.github.com/mushon/146c32f6d2374d01d94f89277fed8258/revisions?diff=split

The thing is these manual corrections are very time consuming and I'm afraid I never do them quite right. I wonder if there's something you can do to make it work better esp

[2016-07-01 03:31] josefspr opened #145 "multiple place card - long titles cover dates"
Example: open Berlin

[2016-07-01 03:33] josefspr commented on #145
also format of dates overflows

[2016-07-02 20:31] josefspr opened #146 "labels of maps do not appear or not according to zoom level"
Modernism:
Jerusalem, Tel Aviv appear only in high zoom
New York appears only in extremely low zoom
Odessa does not appear at all
Pre-Industrial:
London does not appear (if missing can you add it ?)

[2016-07-02 20:56] yuvadm commented on #146
@mushon might need to set `icon-allow-overlapping: true` (or whatever it's called)

[2016-07-03 06:47] mushon opened #147 "each #eventspane div.event should receive the dynamic style class"

[2016-07-03 07:04] #147 closed

[2016-07-03 08:06] mushon commented on #146
I think it's actually the event icons that are causing these problems, can you @yuvadm try toggling that `icon-allow-overlapping: true` from your end.

[2016-07-03 08:40] yuvadm commented on #146
@mushon this layer isn't currently managed by me so i prefer not to set any properties on it. can you just update the style with this property?

[2016-07-03 08:52] mushon commented on #146
The layer that needs to get that change is actually the markers layer which is managed by you

[2016-07-03 09:01] yuvadm commented on #146
@mushon I only change the source on it, otherwise I'm not adding it to the map or doing anything else with it. I have no problem changing the prop, but it's a bit out of place for me to do it instead of it just being on the style in the first place.

[2016-07-03 09:25] mushon commented on #146
What needs to change is not the text label layer but the event markers layer, it is what appears above the labels and overlaps with them.
Call me if this is still not making sense :)

[2016-07-03 14:28] mushon commented on #146
@yuvadm
As a proof that the markers are to blame, here's modernism the map w/o the markers:
![image](https://cloud.githubusercontent.com/assets/27123/16545964/05c37afa-4143-11e6-8e3a-c57625010c85.png)

And with the markers:
![image](https://cloud.githubusercontent.com/assets/27123/16545972/785d0838-4143-11e6-9a7b-f0149ae69d7d.png)

[2016-07-03 14:43] yuvadm commented on #146
@mushon not sure what these screenshots show, but on a loaded map, when running

[code]

the markers went away but label rendering didn't change. (Note that you can play with the map via API, `map` is exposed globally on the window for debugging purposes)

[2016-07-10 13:32] mushon commented on #145
fixed, @josefspr please check

[2016-07-10 13:33] #72 closed

[2016-07-10 13:33] mushon commented on #72
we'll keep it to the default HTML5 audio player

[2016-07-10 13:34] mushon commented on #28
generally done, will open more specific tickets when needed

[2016-07-10 13:34] #28 closed

[2016-07-10 13:36] mushon commented on #127
Design done. Awaiting implementation

[2016-07-10 13:37] #90 closed

[2016-07-10 13:37] #56 closed

[2016-07-10 13:37] #9 closed

[2016-07-10 13:37] mushon commented on #9
Done

[2016-07-10 13:39] #11 closed

[2016-07-10 13:39] #10 closed

[2016-07-10 13:39] #8 closed

[2016-07-10 13:41] #13 closed

[2016-07-10 13:41] mushon commented on #13
won't happen

[2016-07-10 13:43] #29 closed

[2016-07-10 13:43] mushon commented on #29
done

[2016-07-10 13:44] #16 closed

[2016-07-10 13:44] #38 closed

[2016-07-10 13:44] mushon commented on #57
Design done

[2016-07-10 13:51] #97 closed

[2016-07-10 13:51] #84 closed

[2016-07-10 13:51] #78 closed

[2016-07-10 13:51] #6 closed

[2016-07-10 13:53] mushon commented on #141
I think I fixed it, please confirm.

[2016-07-10 13:54] #123 closed

[2016-07-10 13:54] mushon commented on #123
we have a design for that. Closing

[2016-07-10 13:54] #117 closed

[2016-07-10 13:57] mushon opened #148 "support < > and ESC keyboard in lightbox"

[2016-07-10 13:59] mushon opened #149 "scroll event to top when new event is loaded"
Right now if we scrolled an event we maintain that position even when we open a different event

[2016-07-10 14:02] mushon commented on #122
@yuvadm create circles behind current timeline circles. They should get the periodic style and be stylable via css.

[2016-07-10 14:02] #107 closed

[2016-07-18 07:14] mushon opened #150 "Find way to affect marker and annotation sizes from style"
Right now since the markers and annotations are set programmatically, I cannot adjust their size for different zoom levels. I need to have a simple way of doing this. Ideally from the map styles themselves, but if not, at least in JS.

[2016-07-18 15:10] mushon commented on #7
How about this?
https://api.mapbox.com/styles/v1/mushon/ciqs382tn0013cbnhsvd3rl8r.html?title=true&access_token=pk.eyJ1IjoibXVzaG9uIiwiYSI6IjY1bHhhTkEifQ.DhW2zcurHHBtmnc2FsMBqg#4/38.01065548424398/18.680128565568253/0

![image](https://cloud.githubusercontent.com/assets/27123/16919499/9b02807c-4d12-11e6-9c9e-ea13e33150c5.png)

[2016-07-18 17:06] josefspr commented on #7
I'm a bit color blind, but isn't it similar to pre-industrial and in general all 3 maps pre, indust., modern
are in quite a similar palette in relation to the last two ?

[2016-07-19 06:07] mushon commented on #7
It is true that the first three maps are more monochromatic than the post-war one. It is quite deliberate as the history of map changed that way and the post-war map was deliberately designed to look more optimistic than the other ones. The "Dark Times" map is the definitely deliberate outlier.
With that being said, I do agree that the modern and the 19th century maps are a bit too close. I will w

[2016-07-19 15:27] mushon commented on #7
I reworked the Modernism map. I think it is much more Modernist now, it is also much different than the other ones. [Here's a link](https://api.mapbox.com/styles/v1/mushon/ciqtl1jtd000kc6nhue3u38q4.html?title=true&access_token=pk.eyJ1IjoibXVzaG9uIiwiYSI6IjY1bHhhTkEifQ.DhW2zcurHHBtmnc2FsMBqg#3.3998692809553828/40.629525497341234/18.380131644852042/0) and here's a before & after comparison:

![image

[2016-07-19 18:55] josefspr commented on #7
yes, I like it much more (:-

[2016-08-01 07:37] #30 closed

[2016-08-01 07:37] mushon commented on #30
dupe of #101

[2016-08-01 07:41] mushon commented on #12
From the example we see here, the design doesn't really answer the need of these similar events. It looks like the only difference between them is their location. @josefspr is that true of all of these cases?

[2016-08-01 07:42] mushon commented on #85
@josefspr did we decide to drop this? Or is this still something we want to support?

[2016-08-01 07:42] #141 closed

[2016-08-01 07:46] mushon commented on #146
@yuvadm please look into this issue again. I think we are not having as much rendering problems, but I am not sure all the location names are appearing as they should.

[2016-08-02 15:23] josefspr commented on #12
yes, they contain exact data/media only differ in place and time

[2016-08-02 15:25] josefspr commented on #85
we dropped subtitle in event card, should only appear in project card.

[2016-08-03 06:06] mushon commented on #85
just wanted to make sure, closing.

[2016-08-03 06:06] #85 closed

[2016-08-03 09:36] mushon commented on #12
ok, how about [this kind of behavior](https://invis.io/HC6EQ6L7Q#/178587825_Selected_Item-Multiple_Locations) - here shown applied to different locations but could also work with multiple times and with the grouping of the two (multiple times and locations) in this format:

[code]

Optionally we could also choose to go with the above format for every multiplication like this:

[code]

Or this:

[c

[2016-08-04 06:46] josefspr commented on #12
first of all, how does the map know the events are identical? - will there be something in the admin
or automatically (same title, data etc) ?
How do these events behave, they light up together on hovering, are they a group ?
Any case should keep it simple implementation.
I didn't exactly understand the difference between the 3 versions. In most cases the place is different
and perhaps the time so

[2016-08-04 07:40] mushon commented on #12
@yuvadm please respond to the admin question above
As for whether they would be a group, I find it hard to think of a reason why such events will not be a group.

[2016-08-04 08:50] yuvadm commented on #12
The only reasonable  behavior for this seems to be to manually include them all in a group annotation. We don't have any other logic for grouping "similar" events at any level.

[2016-08-04 13:33] josefspr commented on #12
In most cases I already defined most of these cases as groups, so no special implementation or design is necessary (except completing implementation of the group card). We can leave it as it is, since this type
of event group is not so common.

[2016-08-07 08:14] mushon commented on #12
ok, so I'm reassigning this to @yuvadm for implementation

[2016-08-07 08:25] mushon opened #151 "differentiations of project/person/org/place cards"
@josefspr wrote:

should appear near title.

@yuvadm please:
- [x] add a body class: ``card`` + ``project``/ ``person`` / ``org`` / ``place``
- [x] add the required extra fields
- [x] make sure the map height changes behind the card (which would also update the position of the Daat Hamakom logo)

[2016-08-18 11:39] josefspr opened #152 "hovering and selecting with a map with overlapping ranges"
take a look at
https://daat-hamakom.herokuapp.com/#/project/8
many ranges overlap.
1. The interval of the selected range should be more emphasized or thickened.
2. I have difficulty to select some of the events and hovering is also erratic.

[2016-08-18 11:41] josefspr opened #153 "choosing map of event with large interval"
Right now the map assigned to an event is according to start time. I think that best
choice would be maximal overlap.

[2016-08-18 12:44] mushon commented on #153
Agreed. @yuvadm please implement

[2016-08-18 12:47] mushon commented on #152
@yuvadm we need the circles to be in a higher z-index so they can always be selectable.
+can we try going with a tighter layout with more lines on the y-axis? I would like to see what should be the maximum there, I'm not sure we are there yet.

[2016-09-04 07:55] josefspr opened #154 "bounding box of map/timeline on filtered map"
selection of timeline range used to work in the past, but doesn't work now.
same should be done for map.

[2016-09-04 07:59] josefspr opened #155 "back button returning to previous context"
e.g. - going back from person we opened through event card.

[2016-09-05 07:04] mushon commented on #127
Design is here:
https://invis.io/HC6EQ6L7Q#/143781086_Multi_Cards_-_Researches
https://invis.io/HC6EQ6L7Q#/169569780_Multi_Cards_-_Search
https://invis.io/HC6EQ6L7Q#/140710131_Research_Card_Grid_1

[2016-09-05 07:13] mushon commented on #154
@josefspr what do you mean? Is that click and drag to select time range? (click and drag is used for panning the timeline) or did you mean something else?

[2016-09-05 07:23] josefspr commented on #154
No, I just mean that the zoom and position of the map & timeline change when you make a search
according to events

[2016-09-05 07:32] mushon commented on #154
right, @yuvadm that is indeed missing and should also be supported by the browser's [Back] button

[2016-09-08 09:42] josefspr opened #156 "default images for missing covers for person and org"
Mushon can you make them ?

[2016-09-12 12:45] mushon commented on #156
Sure @yuvadm what size and format do you want me to use?

[2016-09-23 08:29] yuvadm commented on #156
50x50 and 320x214

[2016-09-23 08:49] mushon opened #157 "Add link from event card to meta-card"

[2016-09-23 08:52] mushon opened #158 "implement image and category title for autocomplete list"
As per this design:
![multi cards - search 2x](https://cloud.githubusercontent.com/assets/27123/18780010/308cc486-8184-11e6-9263-4932c2981c42.png)

[2016-09-23 08:53] mushon opened #159 "Implement default projects list"
When the user clicks the search box and before she started typing she should see the default screen proposing the list of projects:
![multi cards - researches 2x](https://cloud.githubusercontent.com/assets/27123/18779952/eb0d91ec-8183-11e6-81d2-50bbefa3d562.png)

Only when the user started typing 3 chars should this screen be replaced with the autocomplete list as per ticket #158

[2016-09-23 08:56] mushon opened #160 "Correct the css for the selected search item"
Right now it looks like this:
![image](https://cloud.githubusercontent.com/assets/27123/18780083/960cbb36-8184-11e6-9cde-7423a949d9b9.png)

While it should look like this:
![image](https://cloud.githubusercontent.com/assets/27123/18780095/a65903fa-8184-11e6-8cd6-6b86010b9b17.png)

(disregarding the filter-further prompt, this would be implemented later)

[2016-09-23 09:30] mushon commented on #156
50x50 icons attached (both normal and retina).
Please do not use an image in the card if one does not exist. Thanks!

![ico-institution-def](https://cloud.githubusercontent.com/assets/27123/18781187/735c2ad6-8189-11e6-95d9-659afb8e7855.png)
![ico-institution-def 2x](https://cloud.githubusercontent.com/assets/27123/18781188/735ee816-8189-11e6-96ea-9c5349192159.png)
![ico-person-def](https://cloud.g

[2016-09-24 19:11] josefspr commented on #156
It looks very nice but don't you feel its quite militant... ?

[2016-09-25 09:03] mushon commented on #156
Here's another more abstract option:

Person:
![ico-person-def](https://cloud.githubusercontent.com/assets/27123/18814259/138273ee-831a-11e6-9bdb-3bf620d91e73.png)
![ico-person-def 2x](https://cloud.githubusercontent.com/assets/27123/18814260/1387a0bc-831a-11e6-8432-aca53e8bc982.png)

Org:
![ico-institution-def](https://cloud.githubusercontent.com/assets/27123/18814078/f3cc256a-8317-11e6-8941-15da

[2016-09-25 09:52] josefspr commented on #156
Are we also talking about the default image appearing in the person/org card ? the format is rectangular landscape, no ? Org is nice, person maybe a less abstract, but its your call

[2016-09-25 10:40] mushon commented on #156
These images will only appear in the search autocomplete. In all other cases the card will appear with no image of none is submitted.

[2016-09-25 12:10] josefspr commented on #156
Does'nt the card without the image look unbalanced ?

[2016-09-25 12:20] mushon commented on #156
I don’t think so, but let’s See it implemented and decide, maybe we will use a background color or something later. But I don’t think it will be needed.

[2016-09-28 08:09] mushon commented on #146
I looked into this again from my end and I think the reason for these glitches is the way we use the data. Rather than using all of the events to draw the labels we should be using another API call with one entry per city. For example, we have 144 entries for Tel Aviv, when we could go with a maximum of 5 - one for each map period. @yuvadm please test this, in either way it would better allow us t

[2016-09-28 11:34] yuvadm commented on #157
Links added, pending styles and icons

[2016-09-28 11:41] josefspr commented on #157
I see only links to persons, not organizations and projects.
e.g. of organization
https://daat-hamakom-data.herokuapp.com/admin/maps/event/2/change/?_changelist_filters=project__id__exact%3D1

[2016-09-28 12:05] yuvadm commented on #157
@josefspr yep, small typo, you should soon see the org links as well

[2016-09-28 12:20] josefspr commented on #157
thanks. I think the links should open with meta cards open, right @mushon ?

[2016-09-28 12:34] #151 closed

[2016-09-28 13:22] yuvadm commented on #159
@mushon if we have the projects screen on by default, would that be acceptable? (leaving the search bar behavior as is right now)

[2016-09-28 17:25] mushon commented on #157
Right.

[2016-09-28 20:36] yuvadm commented on #157
@josefspr which meta cards?

[2016-09-29 04:01] josefspr commented on #157
By meta cards I mean person, organization and project cards.
In the event card, there should also be a link from the project title to the project link.

[2016-09-29 11:58] #157 closed

[2016-09-29 16:41] josefspr opened #161 "map corrupted when opening from permalink from card"
<img width="1254" alt="permalink bug1" src="https://cloud.githubusercontent.com/assets/15631729/18963222/b53f9b3e-867c-11e6-82e1-700413fcfe92.png">
<img width="1254" alt="permalink bug2" src="https://cloud.githubusercontent.com/assets/15631729/18963223/b5426d32-867c-11e6-9796-3e309400bd3a.png">

[2016-10-03 09:21] mushon opened #162 "Label loaded for the wrong maps"
Small one:
The Pre-Industrial map shows no labels
The Post-Industrial map shows the Pre-Industrial's labels (instead of its own)

[2016-10-03 09:58] mushon commented on #162
I fixed it.

[2016-10-03 09:58] #162 closed

[2016-10-04 18:10] josefspr opened #163 "Meta data card does not open on permalink previously closed"
If I open a meta data card and close it. Next time I open any meta card, it will be closed

[2016-10-04 18:11] josefspr opened #164 "Event card should not close when choosing link"
Permalink should include current event so card will stay open.

[2016-10-18 15:04] josefspr commented on #146
@yuvadm would you please paste the link to the labels API calls so we can make sure that they are indeed being called?
Please include the general call (all events) and broken by period (preindustrial, nineteenth, modern…)
Thanks!

[2016-10-19 07:23] yuvadm commented on #146
@josefspr there isn't really an API call for the labels, they are generated by processing the events and extracting all places from them, the relevant code is at https://github.com/daat-hamakom/maps/blob/master/src/components/map.js#L172-L202

[2016-10-19 07:52] mushon commented on #146
So how can we make sure the data is generated?
For example in the case of showing the Berlin label in the Modernist maps.

[2016-10-19 09:16] #139 closed

[2016-10-19 09:22] #65 closed

[2016-10-19 09:22] #70 closed

[2016-10-19 09:23] #86 closed

[2016-10-19 09:26] #98 closed

[2016-10-19 09:29] #114 closed

[2016-10-19 09:31] #120 closed

[2016-10-19 09:43] #145 closed

[2016-10-19 09:45] josefspr commented on #94
assigned to #148

[2016-10-19 09:45] #94 closed

[2016-10-19 09:50] josefspr opened #165 "Add fields to person card"
Alternative names
Born, Died
Residency

[2016-10-19 09:52] josefspr opened #166 "Add Fields to Organization Card"
Type
Founded , Until
Located in

[2016-10-19 09:59] josefspr opened #167 "Add Search by Event Tags"
filter by tags field of event.

[2016-10-19 10:09] josefspr opened #168 "modify zoom/position of timeline according to filtered events"
range of timeline should include all filtered events

[2016-10-19 10:19] josefspr opened #169 "Loading Spinner"

[2016-10-19 10:30] #96 closed

[2016-10-19 10:36] josefspr commented on #51
Start by implementing Secondary as visible in map and not in timeline.

[2016-10-19 10:47] josefspr opened #170 "Display date as interval according to end event and date resolution"
If there is no end date display single date.
Dates should be according to resolution database

[2016-10-19 10:49] josefspr opened #171 "Project Card fields"
Researcher

[2016-10-19 10:52] josefspr opened #172 "Add lightbox to cover images of Project, Person, Organization"

[2016-10-19 11:23] josefspr opened #173 "Publish and draft modes"
Public site display only events and annotations approved for publishing.
Draft site (password protected) displays all the database.

[2016-10-19 11:24] josefspr opened #174 "New Domain for Da'at Hamakom map"

[2016-10-19 11:26] josefspr opened #175 "Show annotation connected to event on hovering"

[2016-10-19 11:32] josefspr opened #176 "Status of Initial map"
Decide which events or filtering scheme should the map display when onboarding

[2016-10-19 11:34] josefspr opened #177 "Display alternative place name in event card"

[2016-10-19 11:36] josefspr opened #178 "Link to next event (tour mechanism)"

[2016-10-19 11:37] josefspr opened #179 "Static header and facebook/twitter/link"

[2016-10-19 11:39] josefspr opened #180 "Display Copyrights info of images and sounds"
Image copyrights in lightbox
Sound copyrights in event card (sound control)

[2016-10-19 11:43] josefspr commented on #132
Open a pdf document.

[2016-10-19 11:45] josefspr opened #181 "Design and Implement about button"

[2016-10-19 11:52] josefspr opened #182 "Implement group card"
Similar to unclusterable place card: Group title on top of card,
opens card with group members and description.

[2016-10-19 11:55] josefspr opened #183 "Show number of events on timeline"

[2016-10-19 12:16] yuvadm commented on #146
@mushon you can inspect the JS console and look at the generated places GeoJSON. Why do you suspect Berlin/Modernism is missing?

[2016-10-19 13:17] yuvadm commented on #165
Done

[2016-10-19 13:17] yuvadm commented on #166
Done

[2016-10-19 13:27] mushon commented on #146
no matter what I do, it doesn’t appear on the map. Please instruct me what to write in the console exactly

[2016-10-19 13:39] yuvadm commented on #161
@josefspr does this still happen? looks like a case where the tiles haven't been loaded (by mapbox, I have no control over the map loading) can you provide a link that I can repro this in my browser?

[2016-10-19 14:12] yuvadm commented on #146
@mushon it's one of the only debug prints in the console now (use updated version, it's much more tidy). In any case you can see it here

https://gist.github.com/yuvadm/93b7b2365b405d3585a7f299c76f38f9

and indeed Berlin/modernism is there

[2016-10-19 15:03] josefspr commented on #165
when one of the list fields, alt name or residency, is empty it puts 0
https://daat-hamakom.herokuapp.com/#/person/88
https://daat-hamakom.herokuapp.com/#/person/13

[2016-10-19 15:05] josefspr commented on #166
When location list is empty puts 0
https://daat-hamakom.herokuapp.com/#/organization/13

[2016-10-19 15:10] yuvadm commented on #164
It sounds silly but the way the links are currently implemented this is not really possible. This mainly comes from a limitation in how react router works that it doesn't handle relative links at all right now. I believe the next major version will have some support for this.

[2016-10-19 15:11] yuvadm commented on #166
@josefspr right, missed that

[2016-10-19 15:11] yuvadm commented on #165
@josefspr indeed

[2016-10-19 15:12] mushon commented on #146
ok, I have a suspicion that the layer didn't really load from data but was still using the dataset I used in Mapbox. I fixed it by uploading the new places.json file you linked to Mapbox (it's much smaller than the one I used) and adding a hack to allow text overlap from zoom 3+.
I would however suggest you test this by maybe trying to add an extra metropolis to Modernism that we know for sure doe

[2016-10-19 15:21] josefspr commented on #161
It happens in certain sequences of ops. here is one that always happens on my chrome, only sometimes on safari: open map, select hamburg, from non-clusterable select Tradition of Hamburg, then click on link to emanuel kisrchner. Seems something related to refreshing of map.

[2016-10-19 16:50] #165 closed

[2016-10-19 16:50] #166 closed

[2016-10-19 19:29] josefspr commented on #164
I don't understand the problem, for example the permalink to from event card to project card, why can't it include the event
https://daat-hamakom.herokuapp.com/#/project/2/event/10

[2016-10-19 19:29] #164 closed

[2016-10-20 07:25] #171 closed

[2016-10-20 07:41] josefspr opened #184 "Add thumbnail to associated person and organization links in event cards"
Integration of design:
https://invis.io/HC6EQ6L7Q#/135225566_Selected_Item_-_Sound

[2016-10-20 07:41] josefspr commented on #131
reassigned #184

[2016-10-20 07:41] #131 closed

[2016-10-20 07:51] josefspr commented on #101
https://projects.invisionapp.com/share/HC6EQ6L7Q#/screens/154306887
https://projects.invisionapp.com/share/HC6EQ6L7Q#/screens/154306810
https://projects.invisionapp.com/share/HC6EQ6L7Q#/screens/154306897
https://projects.invisionapp.com/share/HC6EQ6L7Q#/screens/154306636

[2016-10-20 07:52] josefspr commented on #102
reassigned #101

[2016-10-20 07:52] #102 closed

[2016-10-20 07:58] josefspr commented on #15
assigned #101

[2016-10-20 07:58] #15 closed

[2016-10-20 07:59] #7 closed

[2016-10-20 08:23] josefspr commented on #178
Hovering next event link in card will open display event thumbnail in map and highlight in timeline
Selecting will open it.

[2016-10-21 06:52] #170 closed

[2016-10-26 04:42] josefspr opened #185 "first character of search text is obscurred"
<img width="257" alt="screen shot 2016-10-26 at 7 39 11 am" src="https://cloud.githubusercontent.com/assets/15631729/19713542/9ef7b180-9b4f-11e6-87aa-8e53f954029a.png">

[2016-10-26 04:45] josefspr opened #186 "Add place to search"

[2016-10-26 04:51] josefspr opened #187 "Nested search strings"
Add more than one search string. start case can be project + tags

[2016-10-26 05:01] josefspr opened #188 "Search string in intro"
Last slide of intro displays a search bar. Select all events that title, description or containing project name contains search string.

[2016-10-26 05:04] josefspr opened #189 "Add place meta-data card"
Fields alternative names and zoom level.

[2016-10-26 05:06] josefspr opened #190 "Enlarged view of timeline"
change proportion between height of timeline and map

[2016-10-26 05:09] josefspr opened #191 "User defined map layers"
User can define X layers. Each layer is defined by a search string and has a different marker design. Each layer has a different timeline.

[2016-10-26 05:15] josefspr opened #192 "hand cursor (move) on map and timeline when not hovering."

[2016-10-26 05:17] josefspr commented on #133
About page should also contain disclaimer and credits.

[2016-11-15 05:12] josefspr opened #193 "On searchbox focus: Box opens to show horizontal list of researches"
Integration of design:
https://invis.io/HC6EQ6L7Q#/143781086_Multi_Cards_-_Researches

[2016-11-16 14:39] mushon opened #194 "Look into Deck GL as a React wrapper for Mapbox.gl"
![image](https://cloud.githubusercontent.com/assets/27123/20351332/1601b920-ac1b-11e6-8585-4633000f02c7.png)

Note the support for high amount of markers and the zoom based clustering:
https://uber.github.io/deck.gl/

[2016-11-19 20:04] josefspr opened #195 "Search by event title"
redirects to map with event card open.

[2016-11-19 20:13] josefspr opened #196 "Show all event tags on client side"

[2017-01-13 12:35] talbenbasat commented on #156
HI,

@mushon  can you please resend the final images to place in the cards

thanks,
Tal

[2017-01-13 12:48] talbenbasat commented on #132
Hi @mushon,

Would you like to mention where the help and about buton should be placed.

for now they are only opening pdfs.

Thanks,
Tal

[2017-01-13 13:34] talbenbasat commented on #167
Hi @josefspr,

we added a search by tag and view in the filter
but there is no task for what happens in the case of clicking the tag

Tal

[2017-01-13 13:58] josefspr commented on #167
It filters the events that contain this tag. All search functions filter events, thought that was clear.

[2017-01-13 14:05] talbenbasat commented on #167
It was but this image by @mushon  confused me

https://github.com/daat-hamakom/maps/issues/158

![image](https://cloud.githubusercontent.com/assets/7951152/21932595/06e494d2-d9aa-11e6-938f-b36c08997dde.png)

[2017-01-13 14:05] josefspr opened #197 "Add place thumbnail for search bar results"

[2017-01-13 14:07] talbenbasat commented on #167
@josefspr,

The last option shouldnt appear - right?

[2017-01-13 14:08] josefspr commented on #167
It should appear, this is the tag result, or maybe did not understand question

[2017-01-13 15:08] talbenbasat commented on #167
@josefspr  and when someone clicks on it?
what should happen?

[2017-01-13 15:08] talbenbasat commented on #167
you have multiple events linked to it

[2017-01-13 15:15] josefspr commented on #167
yes, all the events that have this tag, it will almost always be multiple event, just like
person, project, org or place

[2017-01-15 08:38] mushon commented on #156
@talbenbasat please use the images above.

Person:
![ico-person-def](https://cloud.githubusercontent.com/assets/27123/18814259/138273ee-831a-11e6-9bdb-3bf620d91e73.png)
![ico-person-def 2x](https://cloud.githubusercontent.com/assets/27123/18814260/1387a0bc-831a-11e6-8432-aca53e8bc982.png)

Org:
![ico-institution-def](https://cloud.githubusercontent.com/assets/27123/18814078/f3cc256a-8317-11e6-8941

[2017-01-15 08:39] mushon commented on #132
I will add them in the coming two weeks.

[2017-01-15 08:45] mushon commented on #197
![ico-place-def](https://cloud.githubusercontent.com/assets/27123/21961328/bb80c0e4-db0f-11e6-90eb-04864f564e23.png)
![ico-place-def 2x](https://cloud.githubusercontent.com/assets/27123/21961329/bb9dc9fa-db0f-11e6-9b0b-5e7f869192d8.png)

[2017-01-18 14:51] talbenbasat commented on #196
@josefspr this task means it will appear in the search right?

[2017-01-18 16:08] talbenbasat commented on #167
@mushon @josefspr what should appear as the metadata of the tag?

[2017-01-18 16:29] talbenbasat commented on #167
@mushon @josefspr  what should be under Tag metadata?

[2017-01-18 19:42] josefspr commented on #196
yes

[2017-01-18 19:45] josefspr commented on #167
a tag does not have metadata

[2017-01-19 09:50] josefspr commented on #186
Description:
filtering by place displays all events attached to this place.
permalink: https://daat-hamakom-staging.herokuapp.com/#/place/place-id
opens a meta-card of the place (will be described in separate issue)
clicking on event on map or timeline opens the event card and creates permalink
https://daat-hamakom-staging.herokuapp.com/#/place/#place-id/event/event-id

[2017-01-19 09:58] josefspr commented on #195
Description:
choosing event from search bar it just like clicking on an event on map or time line - it opens event card and creates permalink. It DOES NOT filter out all the other events, so in a way it is not really a filter but a textual interface to select an event.

[2017-01-19 10:06] josefspr opened #198 "Place meta-data card"
Display info:
Main Name
Zoom level (site, town, city ..)
Alternative names
marker on google map (if simple to implement)
population by year (future)

see db form - https://daat-hamakom-data.herokuapp.com/admin/maps/place/77/change/?_changelist_filters=p%3D2

[2017-01-19 10:18] josefspr commented on #167
Description:
Selecting tag filters all events with this tag and creates permalink
https://daat-hamakom-staging.herokuapp.com/#/tag/tag-name
A tag does not have a meta data card
selecting an event on map or timeline from the filtered events opens the event card
and creates permalink https://daat-hamakom-staging.herokuapp.com/#/tag/tag-name/event/event-id
and does not change the filtered events (sam

[2017-01-19 12:29] mushon opened #199 "Changing approach for time spans"
@josefspr
I looked into the issue of the time spans and I wonder whether we should necessarily show them the way we do now. Right now we centralize the marker in the middle of the span and show the span at all times. This gives a much higher hierarchy to span markers that in some cases can even span centuries and it also marks the center as an arbitrary marker while in many cases the event start i

[2017-01-20 08:35] mushon opened #200 "Explore cluster features via Mapbox SuperCluster plugin"
Please review this plugin: https://github.com/mapbox/supercluster/
And my correspondence with its creator here: https://github.com/mapbox/supercluster/issues/34

[2017-01-20 10:47] josefspr commented on #199
I agree about estimations. there are some century spans that my assistant entered that are not good and we'll remove them. The thing is that the most common use of spans are life periods of people. I would like to see these periods in relation to other things, such as overlapping with other life spans or oeuvres of the same or other people. What I say is the the span is only meaningful in relation

[2017-01-20 10:54] josefspr commented on #200
looks interesting, so we should wait a bit see if he adds these abilities ?

[2017-01-20 13:16] mushon commented on #200
As far as I understand these abilities are available. But we should explore. Clusters would help us with the initial view as well.

[2017-01-20 13:19] mushon commented on #199
True. Specifically life time spans make no sense in the context of an event. Life is never a single event and should not be presented as such. If we want a separate view for comparison of people's life spans it should be a separate feature.

[2017-01-22 07:33] josefspr commented on #199
I am not referring to birth/death timespans but to life periods in places that is very relevant. e.g. - An artist living and working in Berlin and then working in Palestine etc... I you filter by this person your see intervals of life periods, points of oeuvres and annotations that create a mapping of his activity.

[2017-01-22 07:38] mushon commented on #199
In that case we can simply choose to activate time spans (before hover) only in filtered mode

[2017-01-22 08:29] josefspr commented on #199
so you're suggesting different displays of filtered and non-filtered map/timeline - the timespans and also the layout on y-axis, right ?

[2017-01-22 08:47] mushon commented on #199
Yes

-- 
Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

On January 22, 2017 at 10:29:38 AM, josefspr (notifications@github.com) wrote:

so you're suggesting different displays of filtered and non-filtered map/timeline - the timespans and also the layout on y-axis, right ?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thre

[2017-01-23 13:50] mushon commented on #146
@yuvadm @talbenbasat

As I suspected back in October, the labels are not populated by the DB call but are coming from the json used in Mapbox instead (which includes Sydney for testing):
<img width="435" alt="b43e5cdb-1e9b-46d9-8540-0d49b2271674" src="https://cloud.githubusercontent.com/assets/27123/22206306/67b7b498-e183-11e6-8687-e64c3e26b357.png">

This issue will be resolved when Sydney is wip

[2017-01-24 10:31] josefspr opened #201 "annotations on WW2 map are not seen"

[2017-01-25 08:37] josefspr opened #202 "caching of map"
I would also consider a refresh button so researcher doesn't have to use clear browsing data.

[2017-01-25 08:39] josefspr opened #203 "update labels of places on periodic maps"

[2017-01-25 09:09] josefspr opened #204 "Y-axis in timeline"
Non filtered view:
Y-axis of timeline is arranged according to projects
Hovering or selection emphasizes events on y-axis of project
time spans are displayed only on hover or select
Filtered view:
time spans are displayed
Y-axis optimises views of large and small spans
4 modes of timeline view:
Default view of non-filtered map
Expanded view of non-filtered map
Hovering on non-filtered map
Collapse

[2017-01-25 09:18] josefspr opened #205 "Display demography of Jewish communities"
On timeline:
vertical hair moves with cursor and changes current time of populations.
on selection of event - current time set to time of event.
On map:
Circles around places, radius interpolation of measuring points.
http://www.therefugeeproject.org/
consider a way to display the 2 nearest population counts

[2017-01-25 09:20] josefspr commented on #205
consider a mode of the map that does not show events, just the populations.  before doing this we will need to add data to eastern part of the world.

[2017-01-25 09:22] josefspr commented on #205
we also need an find an elegant way to display credit to the researchers that supplied the database.

[2017-01-25 09:33] josefspr commented on #159
@mushon I would like to elaborate the cards view in the search bar.
first of all the fact that putting the cursor in the search bar or clearing it causes this view to appear is a bit strange and unexpected. Why cannot there be a cards view button on the side of the search bar that opens and closes this view independently of text in search bar ?
second issues is that I lack an overview of the all m

[2017-01-25 10:56] josefspr opened #206 "Design generic modal textbox"
for about, help, copyrights info, etc..

[2017-01-31 08:07] mushon commented on #159
This is our proposed design:
https://invis.io/HC6EQ6L7Q#/143781086_Multi_Cards_-_Researches

![multi cards - researches](https://cloud.githubusercontent.com/assets/27123/22458353/cbb6cd36-e7a4-11e6-853e-473c2c1350f7.png)

[2017-01-31 09:15] mushon commented on #132
Proposed design:
https://invis.io/HC6EQ6L7Q#/215151014_New-Timeline-1_Copy_2

![new-timeline-1 copy 2](https://cloud.githubusercontent.com/assets/27123/22458830/e7627b82-e7a6-11e6-8e02-2d4c46f70f96.png)

[2017-01-31 09:16] mushon commented on #133
Proposed design:
https://projects.invisionapp.com/d/main#/console/5753463/216751811/preview

![new-timeline-pop-over](https://cloud.githubusercontent.com/assets/27123/22458208/148d653e-e7a4-11e6-9319-70ecb386f342.png)

[2017-01-31 09:27] mushon commented on #183
As mentioned before,  this implementation of a Mapbox React wrapper could be relevant:
https://www.mapbox.com/blog/supercluster/

 I would like @talbenbasat to implement basic clustering and we can then take it from there based on the technical constraints of the clustering plugin.

note [this example](https://www.mapbox.com/mapbox-gl-js/example/cluster/) shows we can configure ``clusterRadius`` m

[2017-01-31 09:29] mushon commented on #133
@josefspr please review

[2017-01-31 10:27] josefspr commented on #133
I like it, very simple and elegant

[2017-01-31 10:31] josefspr commented on #183
@Mushon, this issue was referring to something much more simple - I just want to display the number of events on the map (which changes according to filtering), so its basically just where this number should appear. We should make a separate issue about clustering.

[2017-01-31 10:36] mushon commented on #198
Changes implemented:
https://invis.io/EXA8Y0F35

[2017-01-31 10:36] mushon commented on #57
Changes implemented:
https://invis.io/EXA8Y0F35

[2017-01-31 10:38] mushon commented on #17
New design here:
https://invis.io/THA8Y4J27

![new-timeline-1 copy](https://cloud.githubusercontent.com/assets/27123/22461493/2714fa10-e7b2-11e6-81c9-514bfdd39e73.png)

[2017-01-31 10:39] mushon commented on #182
see #17 (closing)

[2017-01-31 10:39] #182 closed

[2017-01-31 10:43] mushon commented on #14
Circa marks redesigned here:
https://invis.io/V2A8Y7YYF

[2017-01-31 10:44] mushon commented on #206
See #133

[2017-01-31 10:44] #206 closed

[2017-01-31 10:46] mushon commented on #200
As mentioned before,  this implementation of a Mapbox React wrapper could be relevant:
https://www.mapbox.com/blog/supercluster/

 I would like @talbenbasat to implement basic clustering and we can then take it from there based on the technical constraints of the clustering plugin.

note [this example](https://www.mapbox.com/mapbox-gl-js/example/cluster/) shows we can configure ``clusterRadius`` m

[2017-01-31 10:47] mushon commented on #183
Ok, now I understand. Why exactly do we need this?

[2017-01-31 10:52] josefspr commented on #183
when we filter, many times there are only one or very few events and its hard to notice if there is anything on the map.

[2017-01-31 10:55] mushon commented on #183
And how would this number help?
Rather, filtering should zoom the timeline and the map to the filter extents, that way we can really solve this issue (and that’s in fact the behavior that was planned all along)

[2017-01-31 19:43] josefspr commented on #183
you're right lets see it when the zooming works and decide if still neccessary

[2017-01-31 19:59] josefspr commented on #183
@talbenbasat lets postphone this task until the zoom and center map/timeline works. It might not be necessary.

[2017-02-05 07:16] mushon commented on #101
![onboarding tips](https://cloud.githubusercontent.com/assets/27123/22624389/7c15f3b4-eb83-11e6-9c89-957c792eb252.png)

Here's a different approach to onboarding, this time using contextual tips:
https://invis.io/HC6EQ6L7Q#/217235076_Onboarding_Tips

They will be marked by an pulsing point to only appear on hover. A click will close the tip. Though they can be reactivated through the help menu.
Th

[2017-02-05 08:47] mushon commented on #205
I propose to implement these as a bubble map.
The bubble sizes will correspond to population sizes as equally interpolated between the data points  we have. Bubble colors will correspond with the point and map periods.
Hovering on the timeline will animate the bubble sizes to match the hovered year.
When we open a card event the map will show that event's year bubble sizes.
Here's a mockup:
![new-

[2017-02-05 10:56] mushon commented on #204
Please review the mockups here: https://invis.io/PRABJLV5Q

Basic mode:
No timespans on default, they would appear only on hover
![new-timeline-1 copy 2](https://cloud.githubusercontent.com/assets/27123/22625505/9448db68-eba1-11e6-8836-e7bb3d5d09be.png)

Hover:
On hover the project points are sized and the project title appears on the left under a strip that marks the whole project:
![new-timeline

[2017-02-05 12:43] josefspr commented on #101
I like this direction. So the hotspots are toggled by the help button ?

[2017-02-05 12:50] josefspr commented on #205
The bubbles look like the groups/annotation edges. Something more is necessary to clarify that these are populations. I think this mode should be toggle-able. Also I think we need a vertical hair on the timeline to clarify the effect of hovering or selection on the populations. Also possibility to view the numbers (lower and upper nearest count).

[2017-02-05 12:56] josefspr commented on #205
I see there is a vertical hair at the bottom its just very small...

[2017-02-05 13:00] josefspr commented on #204
for single timeline check heimat project as test case with multiple timespans
https://daat-hamakom.herokuapp.com/#/project/8

[2017-02-05 13:14] mushon commented on #101
Possibly. And then we keep more detailed help to the about page.

[2017-02-06 13:25] talbenbasat commented on #156
@mushon ,

Cant extract the assets from invision
https://projects.invisionapp.com/d/main#/console/5753463/169569780/preview

Tal

[2017-02-08 15:42] mushon commented on #204
Looking at this research I think we might want to rethink the visualization of the time spans. I think it might be less logical to show time spans before hover. This is how it would look if we only show time spans on hover:
![image](https://cloud.githubusercontent.com/assets/27123/22744244/7d26c658-ee25-11e6-80f1-b4dc6fbf6c0b.png)

Compared to the current solution that makes things pretty unreadab

[2017-02-08 16:17] mushon commented on #205
I am attaching here a minor change that includes a more distinct outline for the population bubbles. Either way, this requires more testing on the actual dev environment:
![new-timeline hover](https://cloud.githubusercontent.com/assets/27123/22745344/e37d4410-ee28-11e6-810a-ac077e21c88b.png)

As for max/min populations, we could maybe show that in the event card, like this:
![new-timeline-3 copy 5

[2017-02-12 08:34] josefspr commented on #180
@mushon can you complete this one this week ? I need it to prepare Tal's next milestone. It can just be a button on the enlarged image and sound player that opens a model text box.

[2017-02-12 10:48] mushon commented on #180
done here:
https://invis.io/6EAF4PJFU

Please note that on the project cards the credit will appear under the scroll

[2017-02-12 11:10] josefspr commented on #180
the copyrights is not a single line but is a retailed info window, so I think we need a popup
e.g. https://daat-hamakom-data.herokuapp.com/admin/maps/media/814/change/

[2017-02-12 12:48] mushon commented on #180
I think it would be better to use a dropdown for the copyright type and then use an icon to represent it like they do in Vimeo for example:
![image](https://cloud.githubusercontent.com/assets/27123/22862170/46961c78-f132-11e6-8d89-6085facfc5ca.png)

[2017-02-12 13:04] mushon commented on #180
We may also want to include both a link to the author and a link to the image like this:
![image](https://cloud.githubusercontent.com/assets/27123/22862287/805f888e-f134-11e6-8d73-27161e4a0c4f.png)

[2017-02-12 13:10] josefspr commented on #180
This can be a solution and we have to decide any case regarding the license type.
for the the sound files you meant to put it on bottom of event card after description ?

[2017-02-12 13:24] mushon commented on #180
Like this:
https://invis.io/HC6EQ6L7Q#/216214397_New-Timeline-3_Copy_7
![image](https://cloud.githubusercontent.com/assets/27123/22862447/61e76932-f137-11e6-94c0-3e08ea04984f.png)

[2017-02-12 13:26] josefspr commented on #180
looks fine

[2017-02-19 12:35] josefspr commented on #101
Lets converge on this issue. I would like something simple: that all tips open and close by one toggle button, without hotspots. In addition to help tips, there will be a link to youtube channel of help clips. I don't thing a textual manual is necessary. Can you make a help control that can do both ? (or one of the tips redirects to youtube) ?

[2017-02-19 12:56] mushon commented on #57
@josefspr why is this assigned to me? It's already designed.

[2017-02-19 12:58] mushon commented on #101
1. opening all tips at once is quite overwhelming. I really recommend the toggle will show/hide all hotspots and that each will open individually.
2. As for the help videos, I still recommend embedding them in a help page (and also link from that page to the YouTube channel if necessary).

[2017-02-19 13:06] josefspr commented on #101
so where do you toggle them ?
can you make a suggestion sketch for this ?

[2017-02-19 13:06] josefspr commented on #101
I meant also for the clips ?

[2017-02-19 13:08] josefspr commented on #57
@mushon questions re cards
1. person: do you mean to display all events on the vertical flow charts. Isn't this redundant
since it appears on timeline. Better that display only birth/death no ? What about alternative names.
2. places don't have cover image (we can add field to admin). any case, if no image use default image of leave empty ?

[2017-02-19 13:17] josefspr commented on #205
I am not sure about the cards that are quite full of info. Why not display numbers on map only on hovered or selected event, like
1800: 10,000
1850: 30,000
also, I think a toggle is necessary for this display, one, so people will understand what the bubbles,
two, it load lots of visual information so it can be turned off

[2017-02-19 13:24] mushon commented on #205
I really think it would be a mistake not to show this information visually (as a graph), I think numbers make very little sense here. As for what we will see on the map, I insist we should wait for the implementation and only then decide on the approach.

[2017-02-19 13:31] mushon commented on #57
1. The idea was to include YOB & YOD but also accommodate an option for major life events as extra fields for persons. This potentially could also be used for places (conquered by Ottomans…)
+I added alt names
2. Add to admin & If no image leave empty.

[2017-02-19 13:36] josefspr commented on #57
regarding life events, think its too much to ask researchers, prefer just YOB & YOD

[2017-02-19 13:38] josefspr commented on #205
ok, we'll wait for implementation

[2017-02-19 14:10] mushon commented on #101
Toggle: https://invis.io/HC6EQ6L7Q#/215151014_New-Timeline-1_Copy_2

Help embeds: https://invis.io/HC6EQ6L7Q#/219769363_New-Timeline-Help

[2017-02-19 14:13] josefspr commented on #184
updated location of design
https://projects.invisionapp.com/share/HC6EQ6L7Q#/screens/216948127

[2017-02-19 14:25] mushon commented on #184
More precise: https://invis.io/HC6EQ6L7Q#/216214387_New-Timeline-3_Copy_6

[2017-02-19 14:27] josefspr commented on #101
no point in small embedded videos of map interface

[2017-02-19 14:40] mushon commented on #101
It’s the same size as they will be in YouTube and everybody knows how to click the fullscreen button…

[2017-02-19 14:41] mushon commented on #57
that's why it's optional. I think in Herzel's case for example, the date of the First Zionist Congress is crucial, so is in many cases the date of their immigration and so on…

[2017-02-19 14:53] josefspr commented on #57
so if you only have YOB & YOD you still draw this timeline ?

[2017-02-19 16:03] mushon commented on #57
If we drop it completely we can simply go with YOB-YOD

[2017-03-05 08:52] mushon opened #207 "add the RTL plugin for Mapbox to make Hebrew render correctly"
https://www.mapbox.com/mapbox-gl-js/example/mapbox-gl-rtl-text/

[2017-03-05 09:00] mushon opened #208 "Add map attribution"
Follow the Mapbox convention:
https://www.mapbox.com/mapbox-gl-js/api/#AttributionControl

@josefspr let's consider whether we also want an additional link to the data sources section int the about page.

[2017-03-19 14:47] talbenbasat commented on #101
Hi @mushon ,

What about the sidepane button?
The design doesn't refer to it.

1. what happens when the sidepane is open
2. if the sidepane button is displayed the locations of the button and the help, about buttons dont align

Tal

[2017-03-19 15:37] mushon commented on #101
if we solve the clustering well the side button will not be needed

[2017-03-19 15:47] talbenbasat commented on #101
its not in the scope for this milestone

@josefspr, what do you think?

[2017-03-19 16:06] josefspr commented on #101
yes, that's right. I think that even now we don't need it and we can hide it. The non-clusterable card will continue to work like it does, opening when we selected a non-clusterable event.

[2017-03-19 17:41] talbenbasat commented on #101
@josefspr can we discuss it tomorrow?

[2017-03-19 18:18] josefspr commented on #101
yes

[2017-03-22 17:20] talbenbasat commented on #101
@mushon can you please send me the x button.

I cant cant locate the correct one

Tal

[2017-03-24 06:09] mushon commented on #101
@talbenbasat it's up: https://projects.invisionapp.com/d/main#/console/5753463/217235076/inspect

[2017-03-26 12:10] josefspr commented on #191
@mushon we would like a basic sketch for displaying layers in the map/timeline ? We can pay a couple of hours for this task, since it was not in scope. You don’t have to go down to all details, just enough to get a cost estimation from Tal. We do need it asap.
We can start at first stage with a simpler implementation of displaying layers of a single project according to persons as an aggregate, pe

[2017-04-02 10:03] talbenbasat commented on #101
hi @mushon ,

its not there.
The x is white with a black background.
In the design its the opposite.

Can you please send me the exact X you wish to put there.

Tal

[2017-04-02 13:30] mushon commented on #101
@talbenbasat, try to double check whether anything is missing here:
https://projects.invisionapp.com/d/main#/projects/prototypes/5753463/assets

[2017-04-02 18:17] talbenbasat commented on #180
@mushon,

we cant change the player entirely.

https://daat-hamakom-staging.herokuapp.com/#/project/4/event/36?_k=dg86pc

How do you think we should solve the design based on the existing player

Tal

[2017-04-02 19:07] talbenbasat commented on #101
@mushon couldnt find it.

Can you please attach the png/svg?

[2017-04-02 19:43] josefspr commented on #191
@mushon, From discussion with researchers, I can summarize the following visualizations within a research:
1.   Which people within a research were in the same place at the same time ?
2.   Similarity and diversity of trajectories of persons in relation to each other.
3.   A possibility to focus on only a subset of the central people, hiding the rest. We may consider for current implementation tha

[2017-04-03 06:11] mushon commented on #101
I'm not sure which icon you mean exactly but I've exported an offline file for you to inspect. Try this:
https://we.tl/k4UyQuP02q

[2017-04-03 06:25] mushon commented on #180
why not use [jplayer.org](http://jplayer.org) or some other solution like it that allows styling?

[2017-04-03 06:29] mushon commented on #180
in general, there are [tons of solutions](http://www.catswhocode.com/blog/10-awesome-html5-audio-players) that do that

[2017-04-03 09:36] talbenbasat commented on #180
@josefspr its your decision
but it wasn't in the original task

[2017-04-03 09:37] talbenbasat commented on #180
@mushon
regarding the lightbox there is a problem when the image is light in the bottom

![daat-lightbox](https://cloud.githubusercontent.com/assets/7951152/24603628/46046eb8-186a-11e7-975f-099ada1cd367.png)

[2017-04-03 09:37] talbenbasat commented on #180
as you can see the title contrast isn't good

[2017-04-03 09:54] mushon commented on #180
Please note the linear gradient on the image:
![image](https://cloud.githubusercontent.com/assets/27123/24604205/8fd056cc-186c-11e7-9c85-83b1686a4a91.png)

[2017-04-03 10:19] talbenbasat commented on #180
@mushon Ok

looks good with it :+1:

Is there a chance to replace the font  of the copyright to something else.

now it's font-family: "Arial Cyr MT";
Its not a basic or google font and I would prefer it to be.

[2017-04-03 10:49] talbenbasat commented on #159
@mushon @josefspr

There is a difference between the timeline and the search by cards height
And I dont understand which one is displayed and when

Can someone please elaborate

[2017-04-03 16:01] mushon commented on #180
Yes. It's a mistake. The font should be Merriweather Sans like all the rest of the interface.

[2017-04-04 04:50] josefspr commented on #159
Transitions: From what I remember the cards view opens when there is focus on the search bar without typing. After typing 3 chars we get the drop down. we get back to timeline, by clicking on the map.
right, @mushon ?
Tal has a point about height of the timeline. In the cards view we get a jump that won't look nice.

[2017-04-04 05:10] josefspr commented on #180
some lightbox images are too big
https://daat-hamakom-staging.herokuapp.com/#/project/11/event/304?_k=ms9h5x
https://daat-hamakom-staging.herokuapp.com/#/project/11/event/303
some too small
https://daat-hamakom-staging.herokuapp.com/#/project/11/event/302

[2017-04-04 05:11] josefspr commented on #159
if there is a single image, arrows of lightbox should not appear

[2017-04-04 05:17] josefspr commented on #180
when media source is empty, there should not be a link and hand on source.
https://daat-hamakom-staging.herokuapp.com/#/event/302?_k=h1bhin
clicking on source takes me to another copy of map

[2017-04-04 05:19] josefspr commented on #180
@mushon don't you think adding gradient to image is distorting - e.g. a poster
https://daat-hamakom-staging.herokuapp.com/#/project/21/event/1040

[2017-04-04 09:10] josefspr commented on #180
regarding the player. For this milestone lets work will current player and put title above and copyrights underneath. If we'll have additional hours to spend we'll try replacing.

[2017-04-04 09:11] josefspr commented on #180
if there is a single image, arrows of lightbox should not appear

[2017-04-04 10:07] talbenbasat commented on #180
Hi @josefspr,

The too big will be solved.
All of the images are at maximum the image size.

Talk to me again about the copy right so i'll create the right conditions with you.

Any case I've uploaded a new version of the lightbox
Please talk to me when you are available

Tal

[2017-04-04 10:11] talbenbasat commented on #159
Hi @josefspr ,

Unfortunatlly We can't determine in css acording the input length.
but can switch to search when the cursor is inside the search

Tal

[2017-04-04 13:23] josefspr commented on #180
Regarding caption look at this
<img width="1199" alt="screen shot 2017-04-04 at 4 17 46 pm" src="https://cloud.githubusercontent.com/assets/15631729/24658508/94b924d4-1952-11e7-8faa-2f363630c76c.png">
I think text should be justified to left. @mushon, I also think the caption is too contrasting to copyrights.

[2017-04-05 12:39] mushon commented on #159
The cards panel was indeed supposed to be higher than the timeline panel. Since the timeline should be built to expand I suggest we should test the timeline panel in the same height as the search and then make sure it doesn't make the event cards too small.

[2017-04-05 12:43] mushon commented on #159
Otherwise, we could transition the heights using CSS animations and by that soften the change. These transitions will be something we will want to do anyway as we will be playing with different panel heights, like in these [4 screens](https://invis.io/FGB6A4XCJ).

[2017-04-13 18:34] josefspr commented on #193
@mushon can you make default images for card view of projects, people, orgs, places ?
the card view is working https://daat-hamakom-staging.herokuapp.com

[2017-04-18 05:52] mushon commented on #191
All these lead to a sub-division of persons under a specific research, right? we are not talking about comparisons of persons across researches at the moment. Are we?

[2017-04-18 17:38] josefspr commented on #191
yes

[2017-04-24 07:45] josefspr commented on #180
@mushon, is there a difference between appearance of word "source" when there is a link to it or only a tooltip ?

[2017-04-27 09:11] josefspr commented on #193
we decided we need place holders for images of projects, people, orgs, places.
for place image use mapbox generated thumbnail of map

[2017-04-27 09:18] josefspr commented on #133
Bold font of title does not stand out enough.

[2017-04-27 09:27] josefspr commented on #193
How does hover on card view look ? you wanted to replace the underline to something else

[2017-04-27 09:28] josefspr commented on #167
@mushon, we were not sure - in the event card the ‘#’ should’t appear, right ? instead we have to write tags: xxxx yyy_yyy, zzzz …

[2017-04-27 12:17] mushon commented on #133
@talbenbasat & @josefspr please note the original design features a heavier weight and different font combination than the implementation:
![image](https://cloud.githubusercontent.com/assets/27123/25482899/576a36c4-2b5c-11e7-9767-a85c94cc00e5.png)
Current implementation:
![image](https://cloud.githubusercontent.com/assets/27123/25482888/4c511c4e-2b5c-11e7-86e2-2837bce9b5d0.png)

[2017-04-27 12:22] mushon commented on #133
@talbenbasat note [the CSS you imported](https://fonts.googleapis.com/css?family=Merriweather) only delivered the regular weight, you should use this import instead: ``<link href="https://fonts.googleapis.com/css?family=Merriweather:400,900" rel="stylesheet">
``

[2017-04-27 12:48] mushon commented on #193
Added hover here (#000 title, darker shadow and #D4D4D4 border):
[https://invis.io/HC6EQ6L7Q#/226905009_Multi_Cards_-_Researches](https://invis.io/HC6EQ6L7Q#/226905009_Multi_Cards_-_Researches)
![multi cards - researches]
![multi cards - researches](https://cloud.githubusercontent.com/assets/27123/25493355/8831e3ca-2b7e-11e7-9a64-c0f2786d444e.png)

the default image should be a background color (#

[2017-04-27 12:53] mushon commented on #180
when there is no link the underline is dashed. otherwise the link is solid

[2017-04-27 12:53] mushon commented on #167
We need to revise previous tags to the format: lowercase_tag
new tags will be transformed on the server.

[2017-04-27 12:54] mushon commented on #167
the pound (``#``) Sign will be added in the frontend

[2017-04-27 14:08] talbenbasat commented on #133
@mushon ,

Cooll i'll fix it.

BTW - please try to separate the content to parts.
In the invision the title and the block are in the same block so it appears like they have the same design.

[2017-04-28 08:29] talbenbasat commented on #167
@josefspr

This should be done in the server side before save

Talk to me if you wish to execute it or discuss the meanings

[2017-04-28 10:44] josefspr commented on #167
You already add it in the event card, so we don't have to do anything special

[2017-04-28 11:14] talbenbasat commented on #167
the lower case is the issue
I can add or remove the '#'

[2017-04-28 12:47] talbenbasat commented on #193
@mushon

please share as an invision page

I dont have access to inspect the elements

[2017-04-28 13:06] josefspr commented on #167
why does it have to be done on server

[2017-04-28 13:08] josefspr commented on #167
any case we also have to do the _ , I prefer we'll take the db hours from the import project

[2017-04-30 18:54] josefspr commented on #57
@mushon can you add title of person to design (Dr., Rabbi etc) ? (only in meta-card)

[2017-05-01 09:53] mushon commented on #57
done.
![new-timeline-person-card](https://cloud.githubusercontent.com/assets/27123/25577214/2f8e7f3e-2e6d-11e7-83c8-dd68013cdf2a.png)

[2017-05-01 14:42] josefspr commented on #57
since I don't want the title in the search results/cards, shouldn't it be separated from the name ?

[2017-05-01 15:15] josefspr opened #210 "Do tags in event card have background ?"
e.g.: https://daat-hamakom-staging.herokuapp.com/#/event/1152
according the sketch they don't but wanted to make sure.

[2017-05-01 15:20] josefspr commented on #193
@mushon  see projects - many project titles get truncated.
can you suggest how we can add 2-3 more words. If we still need more we might have to add short title field like in wordpress.

[2017-05-01 15:28] josefspr commented on #57
@mushon saw you removed handle of metadata card
<img width="123" alt="screen shot 2017-05-01 at 6 24 12 pm" src="https://cloud.githubusercontent.com/assets/15631729/25583737/c9b63240-2e9b-11e7-9762-37549f3bdd64.png">
how do you open card ?

[2017-05-01 15:30] josefspr commented on #57
@mushon missing image in metacard does not look good. Can't we just use the same placeholder color ?

[2017-05-01 15:39] josefspr commented on #189
@mushon we are not going to write bio's of places (in long future there will be many links to gazeteers) or images so current design looks unbalanced. Perhaps put fields of zoom level and and alt names in the middle part and place holder in right ?

[2017-05-01 16:16] josefspr opened #211 "'x' close button on right side is ambigous"
@Mushon I think 2 close symbols on the search line are confusing. The close on the right side currently closes search line, card view and metacard.

[2017-05-01 17:04] mushon commented on #210
The links are not currently styled in accordance to the design.

[2017-05-04 15:26] mushon commented on #57
It is this button:
![image](https://cloud.githubusercontent.com/assets/27123/25710449/f880cd14-30f4-11e7-80c7-9c5a2cad516e.png)

You can see it in action here [in this sequence](https://invis.io/W8BKOAVDN)

@talbenbasat please note I also cleaned up the InVision folder and to fix a duplication that happened in one of the updates. I think it would be easier for you to navigate now

[2017-05-04 20:17] josefspr commented on #57
@mushon so when there is a filter this button opens and closes meta-cards  ?

[2017-05-05 07:04] mushon commented on #57
yes.
In addition to clicking the filter title and the timeline name which also opens the meta cards:

[2017-05-07 06:30] talbenbasat commented on #57
@mushon

what do you mean by timeline name?

And the button you mentioned looks like a part of the timeline task,
enlarging the timeline section to the extended mode

[2017-05-07 06:36] josefspr commented on #57
@tal timeline name I understand is when we'll have a reduced timeline, so not relevant now.
yes, we'll use the same button but for now it will only open and close the meta-card

[2017-05-09 14:11] josefspr commented on #57
@mushon can you take a look at the expand diminish meta-card button in staging, tell us if you
think it is ok in your opinion ?

[2017-05-10 09:58] mushon commented on #57
looking good. Only remove the ``X`` button from next to the expand / contract button

[2017-05-10 10:24] mushon commented on #57
One thing though, currently clicking on the project name in the search field closes it while it should only close if we click the ``X``. When we click the name of the project it should open its card.

[2017-05-10 10:42] talbenbasat commented on #57
Hi @mushon,

ok deployed.
The x would be visable only when cards-view is displayed and its purpose is to close the card view

[2017-05-10 10:48] mushon commented on #57
Exactly. but please note that the ``X`` you implemented is not the right one please use this one instead:
[close-group.svg.zip](https://github.com/daat-hamakom/maps/files/989508/close-group.svg.zip)

[2017-05-10 11:06] josefspr commented on #57
@talbenbasat  @mushon  thanks very much to you both

[2017-05-25 03:49] #185 closed

[2017-05-25 03:49] #108 closed

[2017-06-04 06:47] josefspr commented on #101
@mushon can you make the design for the message for the onboarding message that will open the help intro ?

[2017-06-04 06:48] josefspr opened #212 "QA of design for current interface"

[2017-06-04 08:28] josefspr opened #213 "Thumbnails missing correcting bad media"
@talbenbasat here is a consistent script:
attach to an event a media item with a bad file type (eg. xlsx)
see on map that thumbnail is missing
replace the media bad file with a good one (jpg)
thumbnail is still missing

[2017-06-04 08:37] josefspr opened #214 "media icon parameter in event does not appear as thumbnail"
e.g.
event: Postcard of synagogue in Frankfurt (event/1104)
Media icon is front side but the thumbnail shown is back side.

[2017-06-04 08:43] josefspr opened #215 "date 0000 messes up timeline"
e.g.
event "Greta Ackermann - Early years in Poland"

[2017-06-04 08:56] josefspr opened #216 "Close current event card on filter change"
When a filter context is changed, current open card should close only if event does not belong to filter.

[2017-06-04 09:05] josefspr opened #217 "Card view and search do not display items with 0 events"
projects, people, orgs, locations

[2017-06-04 09:07] josefspr opened #218 "Sort places by # of events in cards view"

[2017-06-04 09:09] josefspr commented on #76
map select should NOT center map
timeline click should NOT center timeline

[2017-06-08 07:06] mushon opened #219 "card image is should be centered"
Use background-image to set the image and it will be fixed:

![uploads/4c6722a2-5c4a-4bf9-92bc-efffffeba5cd/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F4c6722a2-5c4a-4bf9-92bc-efffffeba5cd%2Fimage.png)

[2017-06-08 07:09] mushon opened #220 "marker thumbnail should be centered"
currently:
![uploads/b0fe62ba-faeb-424e-b1fb-5536743c5e08/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fb0fe62ba-faeb-424e-b1fb-5536743c5e08%2Fimage.png)

should be:
![uploads/9d6c5c47-d20a-4a5c-bbb4-ec2d1dcd0183/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F9d6c5c47-d20a-4a5c-bbb4-ec2d1dcd0183%2Fimage.png)

change to:
[code]

[2017-06-08 10:08] mushon commented on #101
Show the video in the tooltip:
![onboarding tips copy](https://user-images.githubusercontent.com/27123/26962585-d9ed22a0-4cef-11e7-80e5-e81938a9c62e.png)

If closing show this message for a few seconds and then close.
![onboarding tips copy 2](https://user-images.githubusercontent.com/27123/26962595-e78b77b8-4cef-11e7-8132-1a235ed0a359.png)

Two options:
- video opens full screen
- click on the vi

[2017-06-08 16:56] josefspr commented on #101
@mushon thanks, I like the video tooltip, prefer it will open help page.
Does the map open with timeline or like now with cards view ? (not sure but I think I prefer cards view). If it opens with cards view please put the tooptip there so we can see how they look together.

[2017-06-09 05:45] mushon commented on #101
@josefspr I switched the images, please check

[2017-06-11 04:49] josefspr opened #221 "cards view truncate title with ellipsis"

[2017-06-11 08:22] talbenbasat commented on #219
@mushon where should it be centred  to?

[2017-06-11 08:26] mushon commented on #219
Just use ``background-image`` instead of ``background`` like I mentioned in my comment and it would do the trick

[2017-06-11 08:30] talbenbasat commented on #216
@josefspr,

please define a coherent logic for closing the event card

[2017-06-18 06:08] mushon opened #222 "Animate horizontal scroll"
The wide project gallery buttons should animate when scrolling right and left (rather than jump)
![uploads/2ec04639-ba5a-46a0-be17-d61d148c3a08/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F2ec04639-ba5a-46a0-be17-d61d148c3a08%2Fimage.png)

[2017-06-18 06:12] mushon opened #223 "Clicking the search tag should open its desciption"
currently it closes it instead

![uploads/0d0e8be2-e255-4a19-8d99-81df705e1b7e/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0d0e8be2-e255-4a19-8d99-81df705e1b7e%2Fimage.png)

[2017-06-18 06:17] mushon opened #224 "Associated filters do not match the design"
This is how they should look:
![uploads/8afdbc27-cdb8-4af6-876f-420ebb2129ba/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F8afdbc27-cdb8-4af6-876f-420ebb2129ba%2Fimage.png)

This is how they currently look:

![uploads/1b44d0b2-9040-4fa4-b615-9f21ee0ff6f6/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F1b44d0b2-9040-4fa4-b615-9f21ee0ff6f6%2Fimage.

[2017-06-18 06:19] mushon opened #225 "About bottom padding should match right and left padding"
![uploads/03dd7771-e0e1-499e-b085-9c9189361dfa/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F03dd7771-e0e1-499e-b085-9c9189361dfa%2Fimage.png)

[2017-06-18 06:22] mushon opened #226 "Sub links should be anchor links on a single About page"
Rather than break the about page to many sub pages I suggest we should keep it a single page with intra-page (anchor) links, it's more elegant and make it more likely that people would actually read more of it while scrolling rather than have to use the menu. @josefspr your call…

![uploads/bb2ebbd0-4adf-4dfc-90f4-873d7a91c530/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%

[2017-06-18 06:28] mushon opened #227 "Contract button should be attached to search bar"
Designed:
![uploads/75d3dc51-253e-461f-be45-1fb3f32289da/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F75d3dc51-253e-461f-be45-1fb3f32289da%2Fimage.png)

Currently:
![uploads/61ce089c-9148-4b6c-8896-e64e9e5d4958/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F61ce089c-9148-4b6c-8896-e64e9e5d4958%2Fimage.png)

Also please note that in both cases (

[2017-06-18 06:32] mushon opened #228 "timeline labels are mispositioned"
Should be slightly higher:
![uploads/2dfb402b-17b2-43e6-8a20-488d758f3c9c/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F2dfb402b-17b2-43e6-8a20-488d758f3c9c%2Fimage.png)

And they're missing their 3px rounded corners and they should be slightly larger than they currently are:
![uploads/eabdfcfe-6a55-4a08-8e90-4562263a5cc1/image.png](https://s3-us-west-2.amazonaws.com/pro

[2017-06-18 06:34] mushon opened #229 "Zooming the timeline should animate to new position"
…similar to how the map does it. They should also zoom in and out in larger figures (again in reference to the map)
![uploads/7889499b-413d-44e1-81ea-f6f08298cb65/image.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F7889499b-413d-44e1-81ea-f6f08298cb65%2Fimage.png)

[2017-06-18 06:39] mushon opened #230 "Timeline zoom and pan should be limited in years"
Currently you can zoom and pan into timespans that are completely irrelevant to the researches. I think we should set boundaries to the timeline like 1000-2020 or even -3000-2050 or something dynamic like [first event -5 0yr] - [last event + 50yrs]. Right now the options to scroll beyond looks like a mistake. @josefspr your call.

![uploads/397ad79a-a34b-4291-ae4c-3a5b6b75b815/image.png](https://s

[2017-06-22 12:17] josefspr opened #231 "cursor on map stop functioning on far right side of map"
Cannot screenshot this one, but just move the cursor to far right side of map. From handle it becomes arrow and does not do dragging or hovering.

[2017-06-25 01:30] josefspr commented on #216
Close current event card when selecting Filter only if current event is NOT part of this context.

[2017-06-29 10:04] talbenbasat commented on #219
completed

[2017-06-29 10:04] talbenbasat commented on #221
completed

[2017-06-29 10:07] talbenbasat commented on #224
@josefspr,

The events JSON doesn't contain the person image.
we can:
1. add the image to the events JSON - increase its size
2. search in the people JSON and get the image from there - consume processing time

Which one would you prefer?

[2017-06-29 12:05] talbenbasat commented on #228
@mushon

The line from the event marker to the annotation can't surpass the timeline.
Since the D3 component is drawing the line.

Which one of these options is better?

[2017-06-29 12:05] talbenbasat commented on #228
![daat-annotation1](https://user-images.githubusercontent.com/7951152/27686651-64944e32-5cdc-11e7-8a92-0f671c52d660.png)
![daat-annotation2](https://user-images.githubusercontent.com/7951152/27686653-6621476e-5cdc-11e7-9d4a-6c72fdcd2d0e.png)

[2017-06-29 12:13] mushon commented on #228
let’s go with the 2nd option (the one without gap)

[2017-06-29 12:14] talbenbasat commented on #228
:+1:

[2017-06-29 14:21] josefspr commented on #224
not so happy about 1, regarding 2 - what might it slow down ?

[2017-06-29 14:40] talbenbasat commented on #224
@josefspr
Now we have to search the people in the client-side DB, when we display the event card

[2017-06-29 14:47] talbenbasat commented on #214
@josefspr

Can you please explain more about the bug

[2017-07-02 07:55] talbenbasat commented on #213
@josefspr,

Can you please enhance

[2017-07-02 08:13] josefspr commented on #230
@talbenbasat, the important part is to set the zoom right for the events after 1750. The space in the future is what looks bad, the early events are less a problem, I mind less if there is space in the past. I assume that the definition should if something like
if (t > 1750)
	zoom = zoom / [(now-t) * a]
“now” could be latest event etc..
That means that the zoom depends how close the event is to th

[2017-07-02 08:36] talbenbasat commented on #213
pushed a basic bugfix
Please verify that its working

[2017-07-02 10:07] talbenbasat commented on #101
https://projects.invisionapp.com/d/main#/console/5753463/237828973/preview

[2017-07-02 10:59] josefspr commented on #213
I think its not fixed, fix was supposed to display this missing thumbnail
https://daat-hamakom-staging.herokuapp.com/#/event/31

[2017-07-02 11:04] josefspr commented on #101
?

[2017-07-02 11:12] talbenbasat commented on #101
just attached the invision link to the issue

[2017-07-02 11:50] talbenbasat commented on #213
Got it fixed and pushed

[2017-07-02 12:00] josefspr commented on #213
cool!

[2017-07-03 12:02] josefspr opened #232 "Events displayed on the timeline show line only on hover/select"
Not on hover/select they show only the circle handle. Only on hover/select the line (time span) is shown.

[2017-07-03 12:09] josefspr commented on #161
Bug often happens when closing an event card. If you hover over an event on the map or the timeline.

[2017-07-03 14:57] talbenbasat commented on #161
Hi @yuvadm @mushon ,

I'm trying to solve this bug, and it's a tough pickle.

The bug is a combination of two.
1. sometimes I'm getting this error:
[code]
from this case the map doesn't recover

2. Sometimes the layer is not applied and we are getting
the mapbox logo on the top.
From this scenario we can recover.

The second issue is easier to reproduce and happens when we are selecting a location

[2017-07-03 15:28] talbenbasat commented on #216
@josefspr

you mean the event card on the side, right?

[2017-07-03 15:29] talbenbasat commented on #230
@josefspr ,

This is conflicting with center event function

What should we do then

[2017-07-03 16:37] josefspr commented on #230
why ? we only center events on timeline when clicking on map

[2017-07-03 16:38] josefspr commented on #216
yes

[2017-07-03 17:53] yuvadm commented on #161
@talbenbasat Sorry I have no idea about these errors, but what I do notice is that the `mapbox-gl` dependency hasn't been updated in ages, so I suggest starting from updating it to the latest stable version.

[2017-07-04 03:36] #228 closed

[2017-07-04 03:38] #225 closed

[2017-07-04 03:41] josefspr commented on #224
@tal the right corners of the rectangle should be rounded

[2017-07-04 03:42] #221 closed

[2017-07-04 03:44] #219 closed

[2017-07-04 03:46] #220 closed

[2017-07-04 03:52] #217 closed

[2017-07-04 03:56] #231 closed

[2017-07-04 03:57] #149 closed

[2017-07-04 04:03] josefspr commented on #213
@tal still not fixed in some cases
https://daat-hamakom-staging.herokuapp.com/#/event/1106

[2017-07-04 04:07] josefspr commented on #214
@talbenbasat, still not working
https://daat-hamakom-staging.herokuapp.com/#/event/1104

[2017-07-04 06:46] josefspr commented on #161
@yuvadm thanks, are there recommended forums or consultations with mapbox that could help us ?

[2017-07-04 07:42] talbenbasat commented on #224
@josefspr
it is - 5px

Changed to 15px to make it more rounded

[2017-07-04 07:46] talbenbasat commented on #213
@josefspr
it is not retroactive

You have to reupload the image to trigger the process

[2017-07-04 07:48] talbenbasat commented on #214
![synaguge-in-frankfurt](https://user-images.githubusercontent.com/7951152/27820192-3e43ae58-60a6-11e7-8ac4-ba886ebcbfb3.png)

[2017-07-04 09:05] talbenbasat commented on #216
Hi @josefspr ,

The second option causes problems in the map
So i just did the first option

I dont close the event card when the link is from the event card

[2017-07-04 09:17] #224 closed

[2017-07-04 09:34] josefspr commented on #213
I reuploaded this but still
https://daat-hamakom-data.herokuapp.com/admin/maps/media/911
https://daat-hamakom-staging.herokuapp.com/#/event/1106

[2017-07-04 09:57] josefspr commented on #227
@talbenbasat please replace direction of arrow on button also on selecting search card or text.

[2017-07-04 10:11] yuvadm commented on #161
@josefspr not that I know of. The only route I'm familiar with is if you suspect a bug in the mapbox library then you should open a issue on https://github.com/mapbox/mapbox-gl-js/

[2017-07-04 13:11] talbenbasat commented on #213
The name of the image must change in order for it to work

Without a change in the name the object isn't considered as changed

[2017-07-04 13:13] talbenbasat commented on #227
The direction of the arrow is based on if the metacard is open or not

[2017-07-04 13:39] talbenbasat commented on #101
@josefspr

saw this one?

[2017-07-06 05:35] josefspr commented on #140
@talbenbasat the fix causes some thumbnails in the unclusterable card to be missing. Try for example clicking on Berlin.

[2017-07-06 05:44] josefspr commented on #227
@mushon I am not sure whether contract button also replaces the close button on the search bar. @talbenbasat says that the contract button is only for opening and closing meta-cards, while the close X on right side is to close the search bar. If this is correct, we should locate contract button a bit more to the left because they don't look good close together.

[2017-07-06 05:50] josefspr commented on #214
@talbenbasat how much work is it to make the media icon also determine the event card thumnbnail ?
 because now the thumbnail icon is different than the event card icon.

[2017-07-06 05:59] josefspr commented on #101
@talbenbasat the button should open the help and make the video run. Also I cannot make the videos in fullscreen, I get a message about some limitations in flash.

[2017-07-06 08:50] talbenbasat commented on #140
@josefspr
fixed
please check again

[2017-07-06 08:51] talbenbasat commented on #214
@josefspr
about 1-2 hours

should i develop it?

[2017-07-06 08:52] talbenbasat commented on #101
fixed please check

[2017-07-06 09:00] mushon commented on #227
They should never appear together.
There is no reason to see the expand bar when we're in the filter view:
![image](https://user-images.githubusercontent.com/27123/27903552-6414b7b0-6242-11e7-8c1e-ea916adf9063.png)

And there is no need to see the close button when we're on a meta-card:
![image](https://user-images.githubusercontent.com/27123/27903606-9a111b42-6242-11e7-9156-cbe14014b421.png)

The

[2017-07-06 10:01] #140 closed

[2017-07-06 10:01] josefspr commented on #214
yes

[2017-07-06 10:04] josefspr commented on #101
@talbenbasat I open incognito but still does not display onboarding button, how can that be ?

[2017-07-06 10:22] josefspr commented on #101
Melech !!! :)
one last thing, when I close full screen, is it possible to come back to the scroll position I left it (in all help movies) ?

[2017-07-06 10:31] josefspr commented on #101
@mushon please take a look at the on-boarding button at the staging
https://daat-hamakom-staging.herokuapp.com
the button disappears after 15 secs, do you like that ? also will be glad for other remarks. We did not implement closing message. I'm in a tough limitation of development hours, if more urgent tasks will be completely smoothly will be able to add it later.

[2017-07-06 12:13] mushon commented on #101
Looking good.
A few things though:

1. The different parts of the help should not be separated to different pages but appear as different sections in the same page with the links simply scrolling the page to the right spot.
2. I think Josef already mentioned it but the page should not open already scrolled, but appear at its top.
3. I think the videos need voice over, Otherwise it’s just someone d

[2017-07-06 12:39] talbenbasat commented on #101
@josefspr - Unfortunately no

1. ~1 Hour development
2. Josef asked for it specifically

[2017-07-06 12:52] talbenbasat commented on #214
Done

took 1.5 extra hours

[2017-07-09 05:47] josefspr commented on #101
Hi @mushon
1. The task of anchor links in the help/about pages is second priory after we finish all vital tasks.
2. I specifically asked @talbenbasat to make the movie run immediately and in this case it must be scrolled already so if won't be look cut. If you want the help to appear at its top, then it should not run and user needs to scroll and click.
3. The video is a mockup, of course we'll ma

[2017-07-09 05:52] josefspr commented on #214
cool. thanks!

[2017-07-09 07:58] mushon commented on #180
The caption overlay in the lightbox doesn't work. I simpler way to do it here:
https://invis.io/HC6EQ6L7Q#/226905063_Lightbox
![lightbox](https://user-images.githubusercontent.com/27123/27992153-7405e87e-6495-11e7-9719-9a0352b7b2e0.png)

[2017-07-09 13:13] #214 closed

[2017-07-09 13:20] josefspr commented on #232
@talbenbasat I see that the although the line is invisible it reacts to hovering. I would like that only the handle react to hovering.

[2017-07-09 13:25] josefspr commented on #213
@talbenbasat can you change uploaded filename to make it unique ?

[2017-07-09 13:43] josefspr commented on #216
@talbenbasat its ok that the card stays open on filters opened from event card. When I open filter from search or cards view sometimes event cards is closed and sometimes open, should be consistent and always close.

[2017-07-09 14:06] talbenbasat commented on #232
@josefspr You dont want the line anymore?

[2017-07-09 14:07] talbenbasat commented on #213
Already done

On Sun, Jul 9, 2017 at 4:25 PM, josefspr <notifications@github.com> wrote:

--
*Tal Ben Basat*
Software Architect
0528-428-598
appandup.co.il

[2017-07-09 14:28] josefspr commented on #232
I want it to be shown on hover/select on the handle. I don't want it to react to hover when its invisible
(so actually doesn't have to react at all).

[2017-07-09 14:42] josefspr commented on #213
can you check this one:
https://daat-hamakom-staging.herokuapp.com/#/person/128
https://daat-hamakom-data.herokuapp.com/admin/maps/media/478

[2017-07-09 14:59] josefspr opened #233 "staging video stops working"
video opens in production
https://daat-hamakom.herokuapp.com/#/event/1075
does not open in staging
https://daat-hamakom-staging.herokuapp.com/#/event/1075

[2017-07-10 08:39] talbenbasat commented on #233
@josefspr

Fixed please check all

[2017-07-10 08:53] mushon opened #234 "Remove expand arrows on search"
![image](https://user-images.githubusercontent.com/27123/28010088-6708b882-6566-11e7-926c-40a50f0f6d1e.png)

[2017-07-10 18:32] #216 closed

[2017-07-10 18:34] josefspr commented on #232
@talbenbasat line has to appear on hover and select, now it appears only on select. To be more precise - hover on the handle causes the line to appear (now only select does it).

[2017-07-10 18:38] josefspr commented on #227
@talbenbasat the X still appears when onboarding and cards view is open.
X appears on card view (correct) but should also appear on search to be consistent.

[2017-07-10 18:39] josefspr commented on #101
@mushon can you please address my remark 2 about scrolling help on video so we can close this issue.

[2017-07-10 19:03] #213 closed

[2017-07-10 19:12] #233 closed

[2017-07-10 19:49] mushon commented on #101
1. ok.
2. can we make the movie just open full screen on click instead? Then we don't need to scroll the page out of context…
3. Cool.

[2017-07-10 21:30] josefspr commented on #232
also notice that the line that connect the event to the annotation on hover is also missing.

[2017-07-11 06:06] josefspr opened #235 "Change logo of map to Jewish Cultures Mapped"

[2017-07-11 06:49] mushon commented on #235
Done.
https://projects.invisionapp.com/d/main#/console/5753463/226905058/preview

[2017-07-11 08:17] josefspr commented on #235
thanks !
@talbenbasat can you update the logo ?

[2017-07-11 08:42] josefspr opened #236 "bug in thumbnail in event card"
@talbenbasat can you take a look at
https://daat-hamakom-staging.herokuapp.com/#/event/307
everything seems to be ok with thumbnail and media icon

[2017-07-13 05:40] josefspr commented on #101
@mushon regarding 2 - I do not want to invest development hours for automatic full screen display until higher priority tasks are completed. If we need to choose between opening help on top without playing the clip (needs another click) or opening it already scrolled and playing, what do you prefer ?

[2017-07-13 08:01] mushon commented on #101
 opening it already scrolled and playing

[2017-07-13 08:11] josefspr commented on #101
thanks.
@talbenbasat leave it just as is it. Please notice that now every time I open help it scrolls and plays video , which should not happen (except through on-boarding button).
When we close full screen, can I return to the same scroll position of help I left ?
can you make the on-boarding message disappear after 30 sec ? I can always close it earlier
with close button, right ?

[2017-07-13 08:47] talbenbasat commented on #101
Yes

30 sec it is

On Thu, Jul 13, 2017 at 11:11 AM, josefspr <notifications@github.com> wrote:

--
*Tal Ben Basat*
Software Architect
0528-428-598
appandup.co.il

[2017-07-14 07:16] josefspr commented on #227
@mushon should right side close (X) also appear on text search bar ?

[2017-07-14 08:10] mushon commented on #227
Yes, it is the expand button that should not appear there.

[2017-07-16 05:09] josefspr opened #237 "Card view corrupted in Safari browser"

[2017-07-16 05:13] josefspr opened #238 "Size of markers on Safari, Firefox, IE/edge"
They are larger than original design on Chrome.

[2017-07-16 05:16] josefspr opened #239 "Safari - magnifying glass does not appear on event card thumbnail"

[2017-07-16 05:19] josefspr opened #240 "Safari - direction of contraction button when meta-card is open"
<img width="1221" alt="screen shot 2017-07-16 at 8 18 55 am" src="https://user-images.githubusercontent.com/15631729/28244857-797e4174-69ff-11e7-9098-ff616067ab2b.png">

[2017-07-16 05:24] josefspr opened #241 "Safari - lightbox image position and label/copyrights"
<img width="1219" alt="screen shot 2017-07-16 at 8 22 25 am" src="https://user-images.githubusercontent.com/15631729/28244877-0f4b200a-6a00-11e7-8042-e375a00a2e55.png">

[2017-07-16 05:28] mushon commented on #241
rather than fixing that it might be easier to transition to the simpler design I suggested without the text overlaying the image:
https://projects.invisionapp.com/d/main#/console/5753463/226905063/preview

[2017-07-16 05:29] josefspr opened #242 "Safari, Firefox - zoom controls get marked"
this one was solved on chrome
<img width="89" alt="screen shot 2017-07-16 at 8 27 06 am" src="https://user-images.githubusercontent.com/15631729/28244903-d375fb6c-6a00-11e7-93dd-aa0dbe7efd49.png">

[2017-07-16 05:35] josefspr opened #243 "Firefox, IE/Edge - missing titles in card view"
<img width="1264" alt="screen shot 2017-07-16 at 8 34 32 am" src="https://user-images.githubusercontent.com/15631729/28244924-a7daf2ea-6a01-11e7-81a7-4497b6390961.png">

[2017-07-16 06:01] josefspr opened #244 "unclusterable card of Bahgdad does not open events"
Only the top event in card responds

[2017-07-16 06:10] josefspr opened #245 "browse thumbnails control in event card obscured in bright background"
<img width="323" alt="screen shot 2017-07-16 at 9 09 41 am" src="https://user-images.githubusercontent.com/15631729/28245063-8ced5072-6a06-11e7-968a-cd8d5ebc01ac.png">

[2017-07-16 06:49] mushon commented on #245
This was implemented without the designed box shadow.
See: https://projects.invisionapp.com/d/main#/console/5753463/226905053/inspect

box-shadow: 0 0 3px 0 #000000;

[2017-07-18 11:26] josefspr opened #246 "calculating bounding range of timeline stops functioning"
here is the scenario:
view timeline - full range of map
open location sheinkin 45 from cards view, and open single event (Rieshtablishment of Omanut)
close filter Sheinkin 45, view range of map, is still the shenikin range. Any project you now open the range is stuck to than of Sheinkin.

[2017-07-24 05:21] josefspr commented on #246
@talbenbasat sheinkin event also causes basemap bug
<img width="1234" alt="screen shot 2017-07-24 at 8 20 54 am" src="https://user-images.githubusercontent.com/15631729/28509187-1dce3b7c-7049-11e7-91ac-8f877f1e091a.png">

[2017-07-24 08:13] mushon commented on #246
Works for me:

[2017-07-24 11:36] talbenbasat commented on #235
Hi @mushon ,

this is the logo I got from the assets.
@josefspr  says It looks different than the old design

![logo svg](https://user-images.githubusercontent.com/7951152/28521647-50d3e63c-707d-11e7-82ac-24e6a3f6ee91.png)

[2017-07-24 14:07] josefspr commented on #232
@mushon I'm trying to choose between 2 possibilities of the hover behavior in timeline. In the production the line although invisible still responds to hover. This makes it harder to miss the marker, but sometimes it covers a bit a nearby event. staging only hovers on the circular handle, but often the hovering misses the handle (you have to move over it very carefully). I think I prefer the react

[2017-07-24 14:11] josefspr commented on #235
@mushon I liked more the previous font with bold grey subtitle, you sure about new look ?

[2017-07-24 14:45] mushon commented on #235
this was a missing font accident. It's already fixed (forgot to update you):
https://projects.invisionapp.com/d/main#/console/5753463/226905058/inspect

[2017-07-24 16:08] mushon commented on #232
I'm definitely with you on the preference of the production version

[2017-07-25 08:33] josefspr opened #247 "lightbox - document is placed in image browser"
Event - The first musical notation of Hatikvah
In lightbox there is an additional place for attached document.

[2017-07-25 11:27] talbenbasat commented on #247
what do you wish to do with it?

[2017-07-25 11:32] josefspr commented on #247
document (same as sound - which is treated correctly) should not be in lightbox browser.

[2017-07-25 11:34] talbenbasat commented on #247
should i fix it

~0.5-1 hour

On Tue, Jul 25, 2017 at 2:32 PM, josefspr <notifications@github.com> wrote:

--
*Tal Ben Basat*
Software Architect
0528-428-598
appandup.co.il

[2017-07-25 11:36] josefspr commented on #247
not now, please fix other bug I sent you

[2017-07-30 00:57] #244 closed

[2017-07-30 01:06] #243 closed

[2017-07-30 01:07] josefspr commented on #241
bug does not appear in ver. 9.0

[2017-07-30 01:07] #241 closed

[2017-07-30 01:08] josefspr commented on #240
does not appear in ver. 9.0

[2017-07-30 01:08] #240 closed

[2017-07-30 01:08] josefspr commented on #239
does not appear in ver. 9.0

[2017-07-30 01:08] #239 closed

[2017-07-30 01:14] #227 closed

[2017-07-30 01:15] #235 closed

[2017-07-30 01:15] #232 closed

[2017-07-30 01:16] #234 closed

[2017-07-30 01:17] #211 closed

[2017-07-30 01:17] #212 closed

[2017-07-30 01:20] #199 closed

[2017-07-30 01:21] #197 closed

[2017-07-30 01:21] #196 closed

[2017-07-30 01:22] #195 closed

[2017-07-30 01:22] #193 closed

[2017-07-30 01:23] #189 closed

[2017-07-30 01:24] #188 closed

[2017-07-30 01:24] #186 closed

[2017-07-30 01:25] #184 closed

[2017-07-30 01:26] #183 closed

[2017-07-30 01:26] #181 closed

[2017-07-30 01:27] #180 closed

[2017-07-30 01:28] #176 closed

[2017-07-30 01:28] #174 closed

[2017-07-30 01:29] #192 closed

[2017-07-30 01:29] #173 closed

[2017-07-30 01:31] #168 closed

[2017-07-30 01:33] #156 closed

[2017-07-30 01:34] #167 closed

[2017-07-30 01:35] #158 closed

[2017-07-30 01:35] #159 closed

[2017-07-30 01:36] #133 closed

[2017-07-30 01:37] #132 closed

[2017-07-30 01:38] #112 closed

[2017-07-30 01:38] #101 closed

[2017-07-30 01:40] #41 closed

[2017-07-30 01:40] #37 closed

[2017-07-30 01:41] #34 closed

[2017-07-30 01:41] #17 closed

[2017-07-30 07:04] josefspr commented on #238
@mushon the markers on map and timeline look different in safari/firefox than in chrome (size, diffusivity of borders), can you take a look tell me what you think ?

[2017-07-30 07:46] mushon commented on #238
Indeed.
On Chrome & Opera (as designed):
![image](https://user-images.githubusercontent.com/27123/28751566-c5e3be62-7513-11e7-8e80-9e004662cd7a.png)

On Safari 10.1.1 (pretty close, but not exact):
![image](https://user-images.githubusercontent.com/27123/28751580-0839734c-7514-11e7-8240-9fc5de9debb8.png)

On Firefox 54.0.1 (much bigger):
![image](https://user-images.githubusercontent.com/27123/287

[2017-07-30 07:52] josefspr commented on #238
I know this one, it already did cross browser examinations. Any idea what to do about sizes of markers in FF ? is it a bug or css deviation ?

[2017-07-31 05:42] josefspr commented on #169
@mushon we will need a loading spinner (or static image). I'm afraid we’re left with little budget for an elaborate design or implementation, so it can also be a standard one (also saw in github some that work with react). please be in contact with @talbenbasat regarding implementation.

[2017-07-31 06:47] mushon commented on #169
Option 1:
![97](https://user-images.githubusercontent.com/27123/28765576-2387a220-75d4-11e7-86f6-af8d260b9345.gif)

Option 2:
![91 2](https://user-images.githubusercontent.com/27123/28765785-2ff1a992-75d5-11e7-8cbc-811086fbccca.gif)

(Please use [as svg](https://github.com/daat-hamakom/maps/files/1186617/91.svg.zip))

[2017-07-31 07:10] mushon commented on #238
I am not familiar with this bug

Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

[2017-07-31 07:31] josefspr commented on #169
the first is a bit funny, no ?
maybe one of these ?
https://huozhi.github.io/respinner/

[2017-07-31 11:59] mushon commented on #169
Well, I hope it was funny… ;)

As for your suggestions we could use either the 6th or the 8th option on that list with our brand blue color.

[2017-07-31 13:39] josefspr commented on #169
one of these ?
<img width="98" alt="screen shot 2017-07-31 at 4 37 35 pm" src="https://user-images.githubusercontent.com/15631729/28780233-b3650664-760e-11e7-8b4d-f4a91ed182d1.png">
<img width="77" alt="screen shot 2017-07-31 at 4 37 41 pm" src="https://user-images.githubusercontent.com/15631729/28780238-b46f9074-760e-11e7-8a03-1f27ba93542a.png">
I prefer the the 2nd (opt. 8)

[2017-07-31 13:44] mushon commented on #169
Cool. Is there a simple way to change its color ?

[2017-07-31 13:49] josefspr commented on #169
don't know here is the github with all the code
https://github.com/huozhi/respinner

[2017-07-31 13:50] josefspr commented on #169
@talbenbasat do you think we can use one of these ?

[2017-08-01 09:37] josefspr commented on #169
@mushon @talbenbasat  wants to know if you have specifications regarding the position on map and size of spinner.

[2017-08-01 09:47] mushon commented on #169
Center it, let’s start with the default size and resize if we feel it is required.

[2017-08-01 09:53] josefspr commented on #169
@talbenbasat any more questions ?

[2017-08-02 08:09] talbenbasat commented on #169
No

I'll upload the new version in +-1400

Tal

[2017-08-02 13:21] josefspr opened #248 "changes in db not updated in map because of caching"
@talbenbasat you can play with
project: Historical Events
event: Hadassah Medical Convoy Massacre

Following changes did not get updated:
project title (after a couple of saves it did), description
adding person, org
adding annotation

I couldn't get to person/org name, description - but should also be checked

[2017-08-02 13:45] josefspr commented on #169
@mushon you can take a look at the spinner on the staging ?
https://daat-hamakom-staging.herokuapp.com
I do not want to invest a lot of work in this but if you have remarks about position, size, color etc.

[2017-08-02 20:29] josefspr opened #249 "strange assignment of thumbnails to card view of people and orgs"
@talbenbasat take a look at thumbnails of card view of orgs in www.jewish-cultures-mapped.org
Army Bureau of Current Affairs, Bezalel School, Ecole Technique de Photographie et Cinématographie
they get images of people, seems that people and orgs get mixed up. The orgs in heroku are OK.
In daat-hamakom.herokuapp.com the card views of people get mixed up with orgs:
Avraham Ashkenazi, Simha Ben Samu

[2017-08-02 20:35] josefspr commented on #249
location cards also get images

[2017-08-03 06:17] mushon commented on #169
I think it looks good, I would only suggest the help bubble appears after the map loaded (after the spinner disappears)
It would also be nice for the map to softly zoom in just a bit after loading finished to mark that it is ready.

-- 
Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

On August 2, 2017 at 4:45:03 PM, josefspr (notifications@github.com) wrote:

@mushon you can take a look at the s

[2017-08-03 06:25] josefspr commented on #169
thanks.
@talbenbasat can you check if these can be easily implemented ?

[2017-08-06 08:16] talbenbasat commented on #249
Fixed in staging please check

[2017-08-06 08:25] josefspr commented on #249
locations ok
orgs ok
persons - this one still has a wrong image Yosef Mardechai Halevi

[2017-08-06 08:43] talbenbasat commented on #249
this one looks like a problem in the data not in the code

please check the database

[2017-08-06 08:43] talbenbasat commented on #249
https://daat-hamakom-data.herokuapp.com/admin/maps/media/13/change/

[2017-08-06 09:36] josefspr commented on #249
yes, you're right, fixed in db, can you refresh cache ?

[2017-08-06 10:31] talbenbasat commented on #249
Hi,

You can always clear all cache by changing one event.

[2017-08-16 06:02] josefspr opened #250 "popup message when WebGL is disabled"
Popup message with link to online pdf instructions (will load it as media file in amazon)
To test could not disable chrome but can disable Safari and Firefox:
Safari: preference->privacy->allow WebGL
Firefoz: about:config -> webgl.disabled

[2017-08-16 06:17] josefspr commented on #250
also found how to disable chrome from terminal cmd
/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome -disable-webgl